html {
	font-size: 16px;
}

body {
	font-family: 'MyriadPro';
	font-weight: normal;
	font-style: normal;
	background-color: #fff;
	-webkit-overflow-scrolling:touch;
	color: #333333;
}

.wrapper	{
	width: 100%;
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1280px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;

	@media (max-width: 575.98px) {
		padding: 0 10px;	
	}

}

.mob-visible {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.desk-visible {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.col {
	padding: 0 15px;
}

.col-6 {
	width: 50%;
}

.col-12 {
	width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield;
}