.fiters-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
	.input-wrap {
		width: calc(100% / 3 - 1px);
		margin-bottom: rem(20);

		@media (max-width: 767px) {
			width: 100%;
		}
	}

}

.difference-info-block {
	margin: 0 rem(-10);
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 767px) {
		margin: 0;
	}

	.growth-change {
		justify-content: flex-end;
	}

	.difference-info {
		width: calc(25% - 20px);
		margin: 0 rem(10);
		margin-bottom: rem(30);

		@media (max-width: 1499px) {
    	width: calc(50% - 20px);
		}

		@media (max-width: 767px) {
			width: 100%;
			margin: 0;
			margin-bottom: rem(30);
		}

	}
}

.difference-info {
	
	height: rem(200);
	border: rem(2) solid #f6f6f6;
	border-top-color: #5d4897;
	padding: rem(15);
	padding-left: rem(25);

	@media (max-width: 767px) {
		height: auto;
		min-height: rem(150);
	}

	&--up {
		background-color: #f5f5f5;
	}

	&--down {
		background-color: #fff;

		.double-chevron {
			transform: rotate(180deg);
		}
	}

	&__counter {
		margin-top: rem(20);

		@media (max-width: 575px) {
			margin-top: 0;
		}

		span {
			font-size: rem(71);
			line-height: 1;
			color: #444444;
			display: block;

			@media (max-width: 575px) {
				font-size: rem(50);
			}

			+ span {
				font-size: rem(18);
				line-height: rem(22);
			}
		}
	}

	&__footer {
		margin-top: rem(5);
		height: rem(30);
		display: flex;
		align-items: center;

		span {
			padding-right: rem(15);
			color: rgba(#444444, 0.57);
			font-size: rem(17);
			line-height: rem(20);
			flex-shrink: 0;
		}
	}
}

.growth-change {
	display: flex;
	align-items: center;

	i {
		margin-right: rem(5);
	}

	span {
		color: #434343;
		font-size: rem(15);
		line-height: rem(18);
	}
}

.projects-charts-wrap {
	display: flex;
	margin: 0 rem(-20);
	flex-wrap: wrap;
	@media (max-width: 1199px) {
		margin: 0;
	}

	.projects-chart {
		width: calc(50% - #{rem(40)});
		margin: rem(20);
		margin-top: 0;

		@media (max-width: 1199px) {
    	width: 100%;
    	margin: 0;
    	margin-bottom: rem(20);
		}
	}
}


.projects-chart {
	

	&__chart-cover {
		border: rem(2) solid #f5f5f5;
		height: rem(300);
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@media (max-width: 575px) {
			height: auto;
		}
	}

	&__chart {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		padding: 0 rem(25);

		@media (max-width: 575px) {
			width: 100%;
		}

	}
	&__chart-info {
		width: 50%;
		padding: rem(25);

		@media (max-width: 575px) {
			width: 100%;
		}

		ul {
			padding-left: rem(50);

			@media (max-width: 1499px) {
    		padding: 0;
			}

			li {
				margin: rem(20) 0;
				display: flex;
				align-items: center;
				position: relative;

				&:before {
					content: "";
					display: block;
					width: rem(8);
					height: rem(8);
					border-radius: 50%;
					border: rem(2) solid;
					margin-right: rem(27);
					flex-shrink: 0;
				}

				span {
					color: #666666;
					font-size: rem(13);
					line-height: rem(16);
				}

				&:nth-child(1) {
					&:before {
						border-color: #4181c9;
					
					}
				}
				&:nth-child(2) {
					&:before {
						border-color: #6dc3d0;
					
					}
				}
				&:nth-child(3) {
					&:before {
						border-color: #65459a;
					
					}
				}
			}
		}
	}
}

.projects-status-chart-info {
	ul {

		li {
			&:nth-child(1) {
				&:before {
					border-color: #4181c9;
				}
			}

			&:nth-child(2) {
				&:before {
					border-color: #6dc3d0;
				}
			}

			&:nth-child(3) {
				&:before {
					border-color: #65459a;
				}
			}
		}
	}
}

.service-type-chart-info {
	ul {

		li {
			&:nth-child(1) {
				&:before {
					border-color: #4483ce;
				}
			}

			&:nth-child(2) {
				&:before {
					border-color: #6b7c8f;
				}
			}

			&:nth-child(3) {
				&:before {
					border-color: #36489e;
				}
			}

			&:nth-child(4) {
				&:before {
					border-color: #3dad97;
				}
			}
		}
	}
}

.projects-status-chart-wrap {
	position: relative;
	max-width: 100%;

	.center {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		i {
			
		}
		span {
			display: block;
			font-size: rem(41);
			line-height: rem(50);
		}
	}
}

#projects-status-chart {
	max-width: rem(260);
	width: 100%;
	height: rem(260);
	padding-top: rem(13);

	
}

#service-type-chart {
	max-width: rem(270);
	width: 100%;
	height: rem(270);
	padding-top: rem(13);
}

.projects-status-chart {

}

.table-inward {
	padding: rem(30);

	@media (max-width: 575px) {
		padding: rem(30) rem(15);	
	}

  &__head {
    padding-bottom: rem(30);
    border-bottom: rem(1) solid #eeeeee;
    margin-bottom: rem(20);

    h3 {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    .head-ico {
    	margin-right: rem(15);
    }

    
  }

  &__main {
		margin-top: rem(20);
		overflow: auto;
  }

  &--light {
  	.table-inward__head {
			h3 {
	  		color: #6fc4d2;
	  	}
	  	.head-ico {
				background-color: #6fc4d2;
	  	}
  	}
  	.k-grid td {
			&:first-child {
				border-left-color: #6fc4d2 !important;
			}
		}
  	
  }
}

.head-ico {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: rem(21);
  color: #fff;
  border-radius: 50%;
  width: rem(22);
  height: rem(22);
  background-color: #4483ce;
}

.k-block, .k-draghandle, .k-inline-block, .k-widget {
	border: none;
}

.k-filter-row th, .k-grid-header th.k-header {
	border: none;
}

.k-grid td {
	padding: rem(7) rem(30);
	padding-right: rem(5);
	color: #666666;
	font-size: rem(13);
	border: none;
	background-color: #eeeeee;
	min-height: rem(37);
	border-bottom: rem(1) solid #fff;
	white-space: nowrap;

	@media (max-width: 575px) {
		padding: rem(10);	
	}
	
	&:first-child {
		border-left: rem(5) solid #4483ce !important;
	}
}

.k-grid tr {
	
	&:last-child {
		td {
			border-bottom: none;
		}
	}
}

.k-filter-row th, .k-grid-header th.k-header {
	padding: rem(10) rem(30);
	padding-right: rem(5);
	color: #333333;
	font-weight: bold;
	font-size: rem(13);

	@media (max-width: 575px) {
		padding: rem(10);	
	}
	
	&:first-child {
		border-left: rem(5) solid #fff !important;
	}
}

.k-i-filter:before {
	content: "\f142";
}

.k-i-filter {
	display: inline-block;
  font: normal normal normal rem(14)/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: rem(14);
}

.k-icon {
	color: #aaaaaa;
}

.k-sort-order {
	color: #aaaaaa;
}

.k-popup {
	background-color: #fff;
}

.circle-mark {
	position: relative;
	padding-left: rem(15);
	white-space: nowrap;

	&:before {
		content: "";
		display: inline-block;
		width: rem(8);
		height: rem(8);
		border: rem(2) solid;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		line-height: inherit;
	}

	&--cyan {
		color: #4483ce;

		&:before {
			border-color: #4483ce;
		}
	}

	&--green {
		color: #3dad97;

		&:before {
			border-color: #3dad97;
		}
	}

	&--gray {
		color: #6b7c8f;

		&:before {
			border-color: #6b7c8f;
		}
	}

	&--disabled {
		opacity: 0.4;
	}
}

.num-round {
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: rem(13);
	color: #fff;
	line-height: 1;
	font-style: normal;
	min-width: rem(23);
	min-height: rem(23);

	&--cyan {
		background-color: #4483ce;
	}

}

.fa-check-square {
	color: #6fc4d2;
	font-size: rem(20);
}

#active-user-chart {
	max-width: rem(700);
	width: 100%;
	height: rem(325);
	min-width: rem(500);

}

.active-user-chart {

	@media (max-width: 1499px) {
  	width: 70% !important;
	}

	@media (max-width: 1199px) {
  	width: 100% !important;
	}

	.projects-chart__chart-cover {
		height: auto;
		position: relative;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.domain, .tick line {
		display: none;
	}

	&__legend {
		max-width: 100%;
		z-index: 5;
		padding: rem(25);
		display: flex;

		span {
			color: #666666;
			font-size: rem(15);
			line-height: rem(20);
			padding-right: rem(25);
			padding-left: rem(20);

			&:before {
				top: rem(3);
			}

			&:nth-of-type(1) {
				&:before {
					border-color: #417dc4;
				}
			}
			&:nth-of-type(2) {
				&:before {
					border-color: #644499;
				}
			}
			&:nth-of-type(3) {
				&:before {
					border-color: #3dad97;
				}
			}
			&:nth-of-type(4) {
				&:before {
					border-color: #6fc4d2;
				}
			}
		}
	}
}

#sales-weighted-customer {
	width: 100%;
	height: rem(400);
}