.fiters-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media (max-width: 767px) {
		flex-flow: column;
	}
	
	.input-wrap {
		flex-grow: 1;
		margin-bottom: rem(20);

		@media (max-width: 767px) {
			width: 100%;
		}

		.select2-container--default .select2-selection--single {
			border-right: none;

			@media (max-width: 767px) {
				border-right: rem(1) solid #eeeeee;
			}
		}

		&:last-child {
			 .select2-container--default .select2-selection--single {
				border-right: rem(1) solid #eeeeee;
			}

			@media (max-width: 767px) {
				margin-bottom: 10px;
			}
			
		}
	}

}


.difference-info-block {
	margin: 0 rem(-10);
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 767px) {
		margin: 0;
	}

	.growth-change {
		justify-content: flex-end;
	}

	.difference-info {
		width: calc(25% - 20px);
		margin: 0 rem(10);
		margin-bottom: rem(30);

		@media (max-width: 1499px) {
    	width: calc(50% - 20px);
		}

		@media (max-width: 767px) {
			width: 100%;
			margin: 0;
			margin-bottom: rem(30);
		}

	}
}

.difference-info {
	
	height: rem(200);
	border: rem(2) solid #f6f6f6;
	border-top-color: #5d4897;
	padding: rem(15);
	padding-left: rem(25);

	@media (max-width: 767px) {
		height: auto;
		min-height: rem(150);
	}

	&--up {
		background-color: #f5f5f5;
	}

	&--down {
		background-color: #fff;

		.double-chevron {
			transform: rotate(180deg);
		}
	}

	&__counter {
		margin-top: rem(20);

		@media (max-width: 575px) {
			margin-top: 0;
		}

		span {
			font-size: rem(71);
			line-height: 1;
			color: #444444;
			display: block;

			@media (max-width: 575px) {
				font-size: rem(50);
			}

			+ span {
				font-size: rem(18);
				line-height: rem(22);
			}
		}
	}

	&__footer {
		margin-top: rem(5);
		height: rem(30);
		display: flex;
		align-items: center;

		span {
			padding-right: rem(15);
			color: rgba(#444444, 0.57);
			font-size: rem(17);
			line-height: rem(20);
			flex-shrink: 0;
		}
	}
}

.growth-change {
	display: flex;
	align-items: center;

	i {
		margin-right: rem(5);
	}

	span {
		color: #434343;
		font-size: rem(15);
		line-height: rem(18);
	}
}

.projects-charts-wrap {
	display: flex;
	margin: 0 rem(-20);
	flex-wrap: wrap;

	@media (max-width: 1199px) {
		margin: 0;
	}

	.projects-chart {
		width: calc(50% - #{rem(40)});
		margin: rem(20);
		margin-top: 0;

		@media (max-width: 1199px) {
    	width: 100%;
    	margin: 0;
    	margin-bottom: rem(20);
		}
	}

	&:last-child {
			@media (max-width: 1199px) {
				margin-bottom: 0;
			}
	}

}


.projects-chart {
	
	&__chart-cover {
		border: rem(2) solid #f5f5f5;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@media (max-width: 575px) {
			height: auto;
		}
	}

	&__chart {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		padding: 0 rem(25);

		@media (max-width: 575px) {
			width: 100%;
		}

	}
	&__chart-info {
		width: 50%;
		padding: rem(10) rem(25);

		@media (max-width: 575px) {
			width: 100%;
		}

		ul {
			padding-left: rem(50);

			@media (max-width: 1499px) {
    		padding: 0;
			}

			li {
				margin: rem(20) 0;
				display: flex;
				align-items: center;
				position: relative;

				&:before {
					content: "";
					display: block;
					width: rem(8);
					height: rem(8);
					border-radius: 50%;
					border: rem(2) solid;
					margin-right: rem(27);
					flex-shrink: 0;
				}

				span {
					color: #666666;
					font-size: rem(13);
					line-height: rem(16);
				}

				&:nth-child(1) {
					&:before {
						border-color: #644499;
					
					}
				}
				&:nth-child(2) {
					&:before {
						border-color: #3dad97;
					
					}
				}
				&:nth-child(3) {
					&:before {
						border-color: #4483ce;
					}
				}
				&:nth-child(4) {
					&:before {
						border-color: #36489e;
					}
				}
				&:nth-child(5) {
					&:before {
						border-color: #5f6c86;
					}
				}
			}
		}
	}
}

.projects-status-chart-info {
	ul {

		li {
			&:nth-child(1) {
				&:before {
					border-color: #4181c9;
				}
			}

			&:nth-child(2) {
				&:before {
					border-color: #6dc3d0;
				}
			}

			&:nth-child(3) {
				&:before {
					border-color: #65459a;
				}
			}
		}
	}
}

.service-type-chart-info {
	ul {

		li {
			&:nth-child(1) {
				&:before {
					border-color: #4483ce;
				}
			}

			&:nth-child(2) {
				&:before {
					border-color: #6b7c8f;
				}
			}

			&:nth-child(3) {
				&:before {
					border-color: #36489e;
				}
			}

			&:nth-child(4) {
				&:before {
					border-color: #3dad97;
				}
			}
		}
	}
}

.projects-status-chart-wrap {
	position: relative;
	max-width: 100%;

	.center {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		i {
			
		}
		span {
			display: block;
			font-size: rem(41);
			line-height: rem(50);
		}
	}
}

.size-round-chart {
	width: 100%;
	height: rem(260);
	padding-top: rem(13);
}


.table-inward {
	margin-bottom: rem(30);

	@media (max-width: 991px) {
		// margin-bottom: rem(15);
	}

	&:last-child {
		margin-bottom: 0;
	}

	table {
		min-width: rem(960);
	}

  &__head {
    padding-bottom: rem(20);
    border-bottom: rem(1) solid #eeeeee;
    margin-bottom: rem(20);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991px) {
    	padding-bottom: rem(15);
    }

    @media (max-width: 767.98px) {
	    flex-flow: column; 
	    align-items: flex-start; 
  	}

    h3 {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      color: #017d95;

    }


    .head-ico {
    	margin-right: rem(15);
    }

    .zmdi-chevron-right {
			margin-left: 2px;
    }
    .zmdi-chevron-down {
			margin-top: 2px;
    }

    span {
    	color: rgba(#333333, 0.24);
    	font-size: 15px;
    	line-height: 18px;
    	padding-left: 25px;
    	font-style: italic;

    	@media (max-width: 575.98px) {
    		padding-left: 35px;
    	}
    }
  }

  &__head-col {
  	display: flex;
  	align-items: center;

  	@media (max-width: 767.98px) {
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}
  }

  &__main {
		margin-top: rem(20);
		overflow: auto;
		-webkit-overflow-scrolling: touch;
  }

  &--light {
  	.table-inward__head {
			h3 {
	  		color: #6fc4d2;
	  	}
	  	.head-ico {
				background-color: #6fc4d2;
	  	}
  	}
  	.k-grid td {
			&:first-child {
				border-left-color: #6fc4d2 !important;
			}
		}
  	
  }
}

.table-inward-olive {
	.k-grid td:first-child {
    border-left: 5px solid #b3a55f !important;
  }
  .head-ico {
  	background-color: #b3a55f;
  }
  .table-inward__head h3 {
  	color: #b3a55f;
  }
}

.head-ico {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: rem(21);
  color: #fff;
  border-radius: 50%;
  width: rem(23);
  height: rem(23);
  background-color: #027a93;
}

.k-block, .k-draghandle, .k-inline-block, .k-widget {
	border: none;
}

.k-filter-row th, .k-grid-header th.k-header {
	border: none;
}

.k-block, .k-content, .k-dropdown .k-input, .k-popup, .k-toolbar, .k-widget {
  color: #666666;
  font-size: rem(13);
}

.k-autocomplete, .k-draghandle, .k-dropdown-wrap, .k-grid-header, .k-grouping-header, .k-header, .k-numeric-wrap, .k-pager-wrap, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap, .k-progressbar, .k-state-highlight, .k-tabstrip-items .k-item, .k-textbox, .k-toolbar {
	background: none;
}

col.k-sorted, th.k-sorted {
	background: none;
}

.k-grid td {
	padding: rem(7) rem(15);
	border: none;
	background-color: #eeeeee;
	min-height: rem(37);
	border-bottom: rem(1) solid #fff;
	white-space: nowrap;


	&:first-child {
		padding-left: rem(35);
		border-left: rem(5) solid #4483ce !important;
	}
}

.k-grid tr {
	
	&:last-child {
		td {
			border-bottom: none;
		}
	}
}

.k-filter-row th, .k-grid-header th.k-header {
	padding: rem(10) rem(15);
	padding-right: 30px;
	color: #333333;
	font-weight: bold;
	font-size: rem(13);

	
	&:first-child {
		padding-left: rem(35);
		border-left: rem(5) solid #fff !important;

		@media (max-width: 575px) {
			padding-left: rem(15);
		}
	}
}

.k-icon {
	color: #aaaaaa;
}

.k-sort-order {
	color: #aaaaaa;
}

.k-popup {
	background-color: #fff;
}

.circle-mark {
	position: relative;
	padding-left: rem(15);
	white-space: nowrap;

	&:before {
		content: "";
		display: inline-block;
		width: rem(8);
		height: rem(8);
		border: rem(2) solid;
		position: absolute;
		top: 1px;
		left: 0;
		border-radius: 50%;
		line-height: inherit;
	}

	&--cyan {
		color: #4483ce;

		&:before {
			border-color: #4483ce;
		}
	}

	&--green {
		color: #3dad97;

		&:before {
			border-color: #3dad97;
		}
	}

	&--gray {
		color: #6b7c8f;

		&:before {
			border-color: #6b7c8f;
		}
	}

	&--disabled {
		opacity: 0.4;
	}
}

.num-round {
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: rem(13);
	line-height: 1;
	color: #fff;
	font-style: normal;
	width: rem(23);
	height: rem(23);
	background-color: #027a93;

	&--cyan {
		background-color: #027a93;
	}



}

.fa-check-square {
	color: #6fc4d2;
	font-size: rem(20);
}

#active-user-chart {
	max-width: rem(700);
	width: 100%;
	height: rem(325);
	min-width: rem(500);

}

.active-user-chart {

	@media (max-width: 1499px) {
  	width: 70% !important;
	}

	@media (max-width: 1199px) {
  	width: 100% !important;
	}

	.projects-chart__chart-cover {
		height: auto;
		position: relative;
		overflow-x: auto;
		overflow-y: hidden;
	}

	&__legend {
		max-width: 100%;
		z-index: 5;
		padding: rem(25);
		display: flex;

		span {
			color: #666666;
			font-size: rem(15);
			line-height: rem(20);
			padding-right: rem(25);
			padding-left: rem(20);

			&:before {
				top: rem(3);
			}

			&:nth-of-type(1) {
				&:before {
					border-color: #417dc4;
				}
			}
			&:nth-of-type(2) {
				&:before {
					border-color: #644499;
				}
			}
			&:nth-of-type(3) {
				&:before {
					border-color: #3dad97;
				}
			}
			&:nth-of-type(4) {
				&:before {
					border-color: #6fc4d2;
				}
			}
		}
	}
}

.domain, .tick line {
	display: none;
}

#sales-weighted-customer {
	width: 100%;
	height: rem(400);
}

.chart-cover {
	border: rem(2) solid #f5f5f5;
	padding: rem(20);
	overflow-y: hidden;
	overflow-x: auto;

}

#sales-weighted-customer-chart {
	min-width: rem(800);
}

.fiters-block {

}

.rules-regulations {
	padding: 35px 45px 40px 20px;
	height: calc(100% - 20px);
	overflow: auto;
	-webkit-overflow-scrolling:touch;

	@media (max-width: 991.98px) {
  	height: auto;  
	}	

	@media (max-width: 575.98px) {
		padding: 30px 15px;	
	}


	ul {
		width: 100%;
		min-width: 350px;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 45px;
			margin-bottom: 15px;
			background-color: #f5f5f5;
			padding: 2px 15px;
			padding-right: 5px;

			&:last-child {
				margin-bottom: 0;
			}

			p {
				display: flex;
				align-items: center;
				color: #333333;
				font-size: 15px;
				line-height: 18px;

				i {
					margin-right: 10px;
					font-size: 16px;
				}
			}
		}
	}

	.links {
		display: flex;
		align-items: center;
		padding-left: 15px;
		flex-shrink: 0;

		a {
			text-decoration: underline;
			color: #027a93;
			font-size: 15px;
			line-height: 18px;
			display: block;
			padding: 10px;

			i {
				font-size: 20px;
				color: #027a93;
			}
		}
	}

	table {
		width: 100%;

		th,td  {
			padding:0 10px;
			text-align: left;
		}

		th {
			color: #878787;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			height: 20px;
		}

		td {
			font-size: 15px;
			background-color: #f5f5f5;
			height: 50px;
			vertical-align: middle;
			color: #111111;
			border-bottom: 10px solid #fff;

			a {
				color: #027a93;

				i {
					color: #027a93;
					font-size: 25px;
				}
			}

			&:last-child {
				text-align: right;
				a {
					padding: 5px 10px;
					display: inline-flex;
					align-items: center;
				}

			}
		}
		tr {
			text-align: left;
		}
	}
}

.help-inward {
	background: url("../assets/images/bg-4.png") no-repeat 95% 100% / 230px, #454545;
	padding: 20px;
	color: #fff;

	h4 {
		text-transform: uppercase;
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 25px;
	}

	form {
		margin-bottom: 15px;
	}

	.input-wrap {

		.select2-container--default .select2-selection--single {
			background: none;
			border: none;
			border-bottom: 4px solid #fff;
			border-radius: 0;
		}

		.select2-container {
			max-width: 250px;
			width: 100%;
			margin-bottom: 25px;

			@media (max-width: 575.98px) {
				max-width: 100%;
			}
		}

		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 44px;
			color: #fff;
			padding: 0;
			padding-right: 30px;
			font-size: 13px;
		}

		.select2-container .select2-selection--single {
			height: 44px;
		}

		.select2-container--default .select2-selection--single .select2-selection__arrow {
    	top: 8px;
		  right: rem(10);
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow b {
	    display: inline-block;
	    margin-top: 0;
	    margin-left: 0;
	    padding: rem(3);
	    border: solid #fff;
	    border-width: 0 rem(2) rem(2) 0;
	    transform: translate(-50%, -70%) rotate(45deg);
		}
		.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	    display: inline-block;
	    margin-top: rem(0);
	    margin-left: rem(-3);
	    padding: rem(3);
	    transform: translate(-20%, -30%) rotate(225deg);
	    border: solid #fff;
	    border-width: 0 rem(2) rem(2) 0;
		}
	}

	textarea {
		border: none;
		border-bottom: 4px solid #fff;
		background: none;
		resize: none;
		max-width: 480px;
		width: 100%;
		font-family: 'MyriadPro';
		font-weight: normal;
		font-style: normal;
		font-size: 13px;
		height: 32px;
		padding: 0;
		margin-bottom: 35px;
		color: #fff;

		&::placeholder {
			font-family: 'MyriadPro';
			opacity: 1;
			color: #fff;
		}
	}

	input {
		border: none;
		border-bottom: 4px solid #fff;
		background: none;
		font-family: 'MyriadPro';
		font-weight: normal;
		font-style: normal;
		font-size: 13px;
		height: 44px;
		margin-bottom: 35px;
		color: #fff;
		max-width: 480px;
		width: 100%;

		&::placeholder {
			font-family: 'MyriadPro';
			opacity: 1;
			color: #fff;
		}
	}

	button {
		border: none;
		border-bottom: 2px solid #fff;
		background: none;
		outline: none;
		color: #fff;
		padding: 0;
		
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
	}
}

.section-head {
	border-bottom: rem(1) solid #efefef;

	&__cover {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(20) 0;

		@media (max-width: 991px) {
      padding: rem(20) 0;
    } 

		@media (max-width: 575px) {
			flex-flow: column;	
			align-items: flex-start;
		}
	}

	&__col {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 1500px) {
			flex-flow: column;
			align-items: flex-start;
		}

		&:last-child {
			@media (max-width: 1500px) {
				align-items: flex-end;
			}

			@media (max-width: 575px) {
				align-items: flex-start;
			}
		}

		@media (max-width: 575.98px) {
			padding: rem(10) 0;
			width: 100%;
		}

		.input-wrap {
			margin: 0 rem(10);
		}

		.btn {
			margin-left: 5px;

			@media (max-width: 1500px) {
				margin-bottom: 5px;
				margin-left: 0;
			}
		}

		.dropdown-inward {
			margin-right: 10px;

			@media (max-width: 1500px) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}


		&:last-child {
			.btn {
				margin-left: 5px;
			}
		}
	}

	&__dropdown-cover {
		display: flex;
	}
}


.table-menu {
	position: relative;
	cursor: pointer;
	margin: rem(-5);


	&:hover {
		ul {
	
		}
	}
	&__btn {
		display: block;
		font-size: rem(14);
		color: #aaaaaa;
		padding: rem(5);
	}

	ul {
		display: none;
		position: absolute;
		top: 0;
		transform: translate(-100%, -100%);
		background-color: #fff;
		border: rem(1) solid #666666;
		width: rem(180);
		a {
			padding: rem(5) rem(15);
			color: #666666;
		}
	}
}

.table-menu-cover {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rounded-fill {
	padding: 5px 35px;
	border-radius: 25px;
	background-color: #fff;
	background-color: #027a93;
	color: #fff;
}

.gray-td-border {
	.k-grid td:first-child {
		border-left: 5px solid #454545 !important;
	}
}

.table-inward {

	.flex-cover {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.rounded-fill {
		margin-right: 10px;
	}

	.k-grid td:first-child {
		position: relative;

		.k-checkbox {
			position: absolute;
			left: 8px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
}

.table-inward-style-2 {
	.k-grid td:first-child {
		padding-left: 10px;
	}
	.k-checkbox {
		margin-right: 5px;
	}
}

.table-cell-progress {
	width: 390px;
	height: 28px;
	background-color: #515151;
	border-radius: 35px;
	overflow: hidden;
	position: relative;

	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
	}

	span {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		border-radius: 35px;
	}

	&.full {
		span {
			background-color: #47008c;
		}
	}

	&.hight {
		span {
			background-color: #027a93;
		}
	}

	&.middle {
		span {
			background-color: #029372;
		}
	}

	&.low {
		span {
			background-color: #b3a45f;
		}
	}
}

.table-inward-pos-first-td {
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translate(0, -50%);
}

.table-btn {
	width: 40px;
	height: 30px;
	padding: 0;

	i {
		color: #fff;
		font-size: 18px;
	}
}

.table-inward {
	.fa-star {
		color: #027a93;
		font-size: 15px;

		&.light {
			color: #03b7b8;
		}
	}

	.fa--cyan {
		color: #027a93;
	}

	.fa--olive {
		color: #b7a865;
	}

	.fa--green {
		color: #069174;
	}
}

.tooltip-table {
	width: 100%;
	min-width: 130px;

	td {
		height: 32px;
		vertical-align: middle;
		border-bottom: 1px solid rgba(#fff, 0.5);
		font-size: 13px;
		color: #fff;

		&:last-child {
			text-align: right;
		}
	}

	tr {
		&:last-child {
			td {
				border-bottom: none;
			}
		}
	}
}

.link-segue {
	background-color: #bb812d;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 23px;
	height: 23px;
	border-radius: 50%;

	i {
		color: #fff;
		font-size: 20px;
	}

	.zmdi-chevron-right {
		margin-left: 2px;
	}
}

.table-inward .k-grid tr.best-match {
	td:first-child {
    border-left: 5px solid #47008c !important;
	}
}

.table-inward .k-grid tr.active {
	td:first-child {
    border-left: 5px solid #47008c !important;
	}
}

.olive-td-border .k-grid td:first-child {
  border-left: 5px solid #b88232 !important;
}

.olive-td-border.k-grid tr.active {

	td:first-child {
    border-left: 5px solid #657eb6 !important;
	}

	.status-active {
		color: #657eb3;
	}

	.status-pending {
		color: #b88232;
	}
}

.status-active {
	color: #657eb3;
}

.status-pending {
	color: #b88232;
}

.table-inward-olive {

	.table-inward__head {

		h3 {
			color: #b88232
		}
	}

	.table-inward .k-grid td:first-child {
	  border-left: 5px solid #b88232 !important;
	}
}

.ballast-systems-table {
	table {
		tbody {
			tr:nth-child(1) td:nth-child(1) {
				border-left: 5px solid #657eb3 !important;
			}
		}
	}
}

.content-side {

	&__head {
		padding: 0 25px;
		padding-top: 8px;
		padding-bottom: 15px;
		background-color: #b3a55f;

		@media (max-width: 1199.98px) {
    	padding: 12px 25px;
		}

		@media (max-width: 575.98px) {
			padding: 12px 15px;
		}

		h4 {
			font-size: 22px;
			color: #fff;
		}
	}

	&__main {
    @media (max-width: 1199.98px) {
    	display: flex;
    	flex-wrap: wrap;
		}

		.side-widget {
			@media (max-width: 1199.98px) {
				max-width: 50%;
				width: 100%;
			}
			

			@media (max-width: 575.98px) {
				max-width: 100%;
			}
		}

  }
}

.side-widget {
	padding: 25px;
	border-bottom: 1px solid #fff;

	@media (max-width: 575.98px) {
		padding: 25px 15px;	
	}

	&:nth-child(odd) {

		@media (max-width: 1199.98px) {
			border-right: 1px solid #fff;
		}

		@media (max-width: 575.98px) {
			border-right: none;
		}
	}


	h5 {
		color: #333333;
		font-size: 17px;
		line-height: 22px;
		font-weight: bold;
	}

	&__head {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		&.mb-0 {
			margin-bottom: 0;
		}

		.lock-ico {
			margin: 0 10px;
		}
	}

}



.side-select {

	.select2-container--default .select2-selection--single {
		border: none;
		border-bottom: 1px solid #dddddd;
	}

	.select2-container {
		width: 100%;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		padding: 0 13px;
		padding-right: 40px;
		line-height: 40px;
		font-size: 13px;
		color: #666666;
	}

	.select2-container .select2-selection--single {
		height: 40px;
		border-radius: 0;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
    right: 7px;
	}	

}

.lock-ico {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #027a93;

	i {
		color: #fff;
		font-size: 12px;
	}
}

.tooltip_lock {
	p {
		color: #fff;
		font-size: 13px;
		max-width: 130px;

		a {
			color: #fff;
			text-decoration: underline;
		}
	}
}



.side-checkbox {
	margin: 20px 0;

	label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: rem(25);
		margin-right: rem(15);
		font-size: rem(13);
		line-height: 1.3;
		color: #666666;
	}

	label:before {
		content: "";
		display: inline-block;
		width: rem(18);
		height: rem(18);
		margin-right: rem(10);
		position: absolute;
		left: 0;
		top: 50%;
    transform: translate(0, -50%);
		border: rem(1) solid #bcbcbc;
		
	}

	label:after {
		content: "";
		display: none;
		width: rem(14);
		height: rem(14);

		position: absolute;
		left: rem(3);
		top: 50%;
    transform: translate(0, -50%);
		background-color: #333333;
		border-radius: 50%;
		
	}

	input[type=radio],
	input[type=checkbox] {
		display: none;
	}

	button {
		width: rem(110);
		margin: rem(20) auto;
		margin-top: rem(10);
		height: rem(30);
		cursor: pointer;
		outline: none;
		background-color: #c92f35;
		text-transform: uppercase;
		color: #fff;
		font-size: rem(14);
		border: none;
		display: block;

	}

	input[type=radio]:checked + label:after {
		display: block;
	}

	input[type=checkbox]:checked + label:after {
		border-radius: 0;
		display: block;
	}

	&.small {
		label {
			font-size: 13px;
			padding-left: 20px;
		}

		label:before {
			content: "";
			display: inline-block;
			width: rem(12);
			height: rem(12);

			
		}

		label:after {
			content: "";
			display: none;
			width: rem(8);
			height: rem(8);
			position: absolute;
			left: rem(3);

			
		}
	}

	&.disabled {
		label {
			color: #666666;

			&:before {
				background-color: #aaaaaa;
			}
		}
	}
}

.side-checkbox-title {
	label {
		color: #333333;
		font-size: 17px;
		line-height: 22px;
		font-weight: bold;
	}
}

.side-search {
	position: relative;

	input {
		font-family: 'MyriadPro';
		font-weight: normal;
		font-style: normal;
		height: 42px;
		background-color: #fff;
		border: none;
		border-bottom: 1px solid #dddddd;
		padding: 0 12px;
		padding-right: 45px;
		width: 100%;
		color: #000;

		&::placeholder { 
			opacity: 1;
			color: #b1b1b1;
		}

	}

	.btn {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		right: 5px;

	}
}

.input-wrap-side-search {
	label {
		display: block;
		margin-bottom: 10px;
		color: #666666;
		font-size: 13px;
	}
}

.side-input-wrap {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	label {
		color: #666666;
		display: block;
		margin-bottom: 10px;
	}

	input {
		font-family: 'MyriadPro';
		font-weight: normal;
		font-style: normal;
		font-size: 13px;
		height: 42px;
		background-color: #fff;
		border: none;
		border-bottom: 1px solid #dddddd;
		padding: 0 12px;
		width: 100%;
		color: #000;

		&::placeholder { 
			opacity: 1;
			color: #b1b1b1;
		}
	}

	&.disabled {
		label {
			color: rgba(#666666, 0.58);
		}

		input {
			background-color: #f3f3f3;

		}
	}

	.ui-slider {
		margin: 20px 0;
	}

	
}

.side-range-input {

	&.ui-widget.ui-widget-content {
		background-color: #666666;
	}

	.left-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 30%;
		background-color: #b3a55f;
	}
	.ui-state-default, 
	.ui-widget-content .ui-state-default, 
	.ui-widget-header .ui-state-default, 
	.ui-button, 
	html .ui-button.ui-state-disabled:hover, 
	html .ui-button.ui-state-disabled:active {
		background-color: #b3a55f;
		border-color: #b3a55f;
	}

	&.ui-slider .ui-slider-handle {
		width: 40px;
		height: 30px;
		border-radius: 3px;
	}

	&.ui-slider-horizontal .ui-slider-handle {
		top: -12px;
		margin-left: -20px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 17px;
	}

	&.ui-slider-horizontal {
		height: 6px;
	}
	&.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
		border-radius: 0;
		border: none;
	}
}

.chechbox-wrap {
	dominant-baseline: flex;
	padding-top: 15px;


	.side-checkbox {
		display: inline-block;
		margin-bottom: 0;
	}
	label {
		font-size: 13px;
	}
}

.side-down-btn {
	border-radius: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}