.fiters-block {
	display: flex;
	align-items: center;
	
	.input-wrap {
		width: 100%;
	}

}

.select-inward {
	.select2-container--default .select2-selection--single {
    border: 1px solid #eee;
    border-radius: 0px;
    height: 70px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #543981;
    line-height: 70px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border: solid #333333;
		border-width: 0 rem(2) rem(2) 0;
		display: inline-block;
		padding: rem(4);
		transform: rotate(45deg);
		margin-left: rem(-3);
		margin-top: rem(-5);
	}

	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border: solid #333333;
		border-width: 0 rem(2) rem(2) 0;
		display: inline-block;
		padding: rem(4);
		transform: rotate(225deg);
		margin-left: rem(-3);
		margin-top: rem(0);
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
   	top: 22px;
    right: 29px;
	}
	.select2-container .select2-selection--single .select2-selection__rendered {
		padding-left: 50px;
		padding-right: 75px;
	}
}