.header-inward {
	padding: 0 rem(15);
	height: rem(50);
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__col {
		display: flex;
		align-items: center;
	}

	&__page-title {
		padding: 0 rem(25);
		font-size: rem(16);
		line-height: rem(19);
		color: #454545;
		font-weight: 500;
	}
}

.btn-menu-inward {
	font-size: rem(18);
	color: #454545;
}
.notifications {
	display: flex;
	align-items: center;
}

.notification {
	font-size: rem(20);
	color: #454545;
	margin-left: rem(35);
	position: relative;
	padding-top: rem(11);
	padding-right: rem(11);
	display: block;

	&__num {
		padding: rem(4) rem(6);
		background-color: #999999;
		border-radius: rem(3);
		color: #fff;
		font-size: rem(12);
		line-height: 1;
		position: absolute;
		right: 0;
		top: 0;
	}
}