.home-hero {
	display: flex;
	padding-top: rem(380);
	background: linear-gradient(to top, rgba(#000000, .5), rgba(#000000, .0) 70%), url("../assets/images/img-1.jpg") no-repeat 50% / cover;

	flex-flow: column;
	justify-content: flex-end;

	@media (max-width: 991px) {
		padding-top: rem(150);
		background: linear-gradient(to top, rgba(#000000, .5), rgba(#000000, .3) 60%), url("../assets/images/img-1.jpg") no-repeat 50% / cover;
	}

	@media (max-width: 767px) {
		padding-top: rem(100);
	}


	&__title {
		text-align: left;
		color: #ffffff;
		color: #fefeff;

		@media (max-width: 767px) {
			text-align: center;
		}
	}

	&__conferences-cards {
		display: flex;

		justify-content: space-between;

		@media (max-width: 991px) {
			justify-content: center;
			flex-wrap: wrap;
		}

		@media (max-width: 767px) {
			flex-flow: column;
			justify-content: flex-start;
			align-items: center;
		}
	}

	.conferences-card {
		margin-bottom: rem(50);
	}
}

.conferences-card {
	display: flex;

	@media (max-width: 991px) {
		width: 100%;
		max-width: 50%;

		justify-content: center;
	}

	@media (max-width: 767px) {
		max-width: 100%;
	}

	&__img-wrap {
		width: rem(92);
		height: rem(92);
		padding: rem(5);
		border-radius: 50%;
		background: url("../assets/icons/border-gradient.png") no-repeat 50% / cover;

		flex-shrink: 0;

		img {
			border-radius: 50%;
		}
	}

	&__content {
		padding-top: rem(15);
		padding-left: rem(18);
		color: #ffffff;
	}

	&__date {
		font-size: rem(15);
		line-height: rem(18);
		margin-bottom: rem(5);
		text-transform: uppercase;
	}

	&__title {
		font-size: rem(20);
		line-height: rem(22);
	}
}

.integrated-solutions {
	position: relative;
	padding: rem(30) 0;

	@media (max-width: 767px) {
		padding-bottom: 0;
	}

	.container {
		&:after {
			position: absolute;
			top: rem(20);
			left: rem(-200);
			display: block;
			width: rem(538);
			height: rem(396);
			content: "";
			pointer-events: none;
			background: url("../assets/images/bg-1.png") no-repeat 50% / contain;

			@media (max-width: 575px) {
				top: 50%;
				left: 50%;
				width: rem(300);
				height: rem(200);
				transform: translate(-50%, -50%);
			}
		}
	}

	&__items {
		position: relative;
		z-index: 2;
		display: flex;

		justify-content: space-between;

		@media (max-width: 991px) {
			flex-wrap: wrap;
		}
	}
}

.integrated-solution {
	margin-bottom: rem(50);

	@media (max-width: 991px) {
		width: 50%;
	}


	&__ico-wrap {
		display: flex;
		width: rem(140);
		height: rem(140);
		margin: 0 rem(25);
		margin-bottom: rem(20);
		border-radius: 50%;
		background: linear-gradient(-77deg, #7c77fd, #593a8a);

		align-items: center;
		justify-content: center;

		@media (max-width: 991px) {
			width: rem(120);
			height: rem(120);
			margin: 0 auto;
			margin-bottom: rem(20);
		}

		@media (max-width: 575px) {
			width: rem(80);
			height: rem(80);
		}

		i {
			@media (max-width: 575px) {
				width: 40%;
				height: 40%;
			}
		}
	}

	&__desc {
		font-size: rem(18);
		line-height: rem(22);
		text-align: center;
		color: #333333;

		@media (max-width: 575px) {
			font-size: rem(14);
			line-height: lh(22,18);
		}
	}
}



.latest-news-card {
	position: relative;
	display: block;
	max-width: rem(338);
	margin: 0 auto;

	&:hover {
		text-decoration: none;
	}

	&:after {
		position: absolute;
		bottom: rem(2);
		left: 0;
		width: 100%;
		height: rem(2);
		content: "";
		background: linear-gradient(to right, #593a8a, #7c77fd);
	}

	&__img-wrap {
		overflow: hidden;
		width: 100%;
		max-width: rem(338);
		padding-top: 100%;
		border-radius: rem(25) 0 rem(25) 0;

		flex-shrink: 0;
	}

	&__content {
		padding: rem(15);
	}

	&__date {
		font-size: rem(15);
		line-height: rem(18);
		margin-bottom: rem(10);
		color: #59398a;
	}

	&__title {
		font-size: rem(20);
		line-height: rem(28);
		margin-bottom: rem(10);
		color: #444444;
	}

	&__desc {
		font-size: rem(15);
		line-height: rem(17);
		overflow: hidden;
		height: rem(34);
		margin-bottom: rem(10);
		text-overflow: ellipsis;
	}
}

.work-with {
	padding-top: rem(70);

	&__cover {
		display: flex;

		@media (max-width: 767px) {
			flex-flow: column;
		}
	}

	&__col {
		width: 50%;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.section-title {
		@media (max-width: 991px) {
			margin-bottom: rem(30);
			padding-top: rem(30);
		}
	}
}

.who-we {
	padding: rem(30) rem(75);
	color: #ffffff;
	background: url("../assets/images/bg-2.png") no-repeat 93% rem(30) / rem(205), #6244bc;
	
	@media (max-width: 767px) {
		padding: rem(30);
	}
	&__desc {
		font-size: rem(15);
		line-height: rem(29);
		text-align: center;
		margin-bottom: rem(20);
	}
}

.we-work {
	padding: rem(30) rem(75);
	padding-bottom: 0;

	@media (max-width: 767px) {
		padding: rem(30) 0;
	}

	.section-title {
		color: #593b8a;
	}
}

.we-work-slider {
	padding-bottom: rem(140);

	@media (max-width: 767px) {
		padding-bottom: rem(80);
	}

	.swiper-slide {
		display: flex;

		align-items: center;
		justify-content: center;
	}

	&.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 rem(1.5);
	}

	.swiper-pagination-bullet {
		background-color: #593a8a;
	}
	.swiper-wrapper {
		align-items: center;
	}
}

.img-8 {
	width: rem(178);
}

.img-9 {
	width: rem(80);
}

.img-10 {
	width: rem(110);
}



.get-touch {
	position: relative;
	margin-top: rem(70);

	@media (max-width: 767px) {
		margin-top: 0;
	}

	.container {
		z-index: 2;
	}
	&__cover {
		display: flex;

		@media (max-width: 767px) {
			flex-flow: column-reverse;
		}
	}

	&__col {
		width: 50%;

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__contacts-col {
		padding-top: rem(115);
		padding-right: rem(50);
		padding-bottom: rem(90);
		color: #ffffff;

		@media (max-width: 767px) {
			padding-top: rem(90);
			padding-right: 0;
		}
	}

	.contacts-col-bg {
		right: 50%;
		width: 50%;
		height: 100%;

		@media (max-width: 767px) {
			right: 0;
			width: 100%;
			height: 80%;
		}

		&.img-wrap-relative {
			position: absolute;
			top: 0;
			left: 0;
			padding-top: 0;

			@media (max-width: 767px) {
				top: auto;
				bottom: 0;
			}
		}

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			content: "";
			background: rgba(#000000, .6);
		}
	}

	.socials {
		li {
			a {
				color: #ffffff;
			}
		}
	}

	&__feedback-col {
		padding-left: rem(45);

		@media (max-width: 767px) {
			padding-left: 0;
		}

		.section-title {
			margin-bottom: rem(30);
			padding-top: rem(20);
			text-align: left;

			@media (max-width: 767px) {
				text-align: center;
				color: #444444;
			}
		}
	}

	.feedback-form-wrap {
		margin-left: rem(-75);
		padding-right: rem(75);
		padding-left: rem(75);
		background-color: #ffffff;

		@media (max-width: 767px) {
			margin-left: 0;
		}

		@media (max-width: 575px) {
			padding: rem(30);
			padding-bottom: rem(50);
		}
	}
}

.contacts {
	margin-bottom: rem(40);
	padding-top: rem(20);

	&__title {
		font-size: rem(23);
		line-height: rem(27);
		margin-bottom: rem(20);
	}

	ul {
		li {
			position: relative;
			display: flex;
			margin-bottom: rem(15);
			padding-left: rem(50);
			color: #ffffff;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				font-size: rem(15);
				line-height: rem(18);
				display: inline-block; //ie fix
				max-width: 100%; //ie fix
			}

			i {
				font-size: rem(15);
				line-height: rem(18);
				position: absolute;
				top: rem(0);
				left: 0;
			}
		}
	}
}

.socials {
	display: flex;
	margin: 0 rem(-10);

	li {
		a {
			font-size: rem(18);
			padding: rem(5) rem(10);
		}
	}
}

.feedback-form-wrap {
	padding: rem(45) rem(30);
}

.site-form {
	max-width: rem(560);

	&__cover {
		display: flex;

		flex-wrap: wrap;
		justify-content: space-between;
	}

	.input-wrap {
		width: 100%;
		max-width: 44%;
		margin-bottom: rem(45);

		@media (max-width: 991px) {
			max-width: 100%;
			margin-bottom: rem(20);
		}

		@media (max-width: 767px) {
			max-width: 46%;
		}

		@media (max-width: 575px) {
			max-width: 100%;
		}

		&:last-child {
			max-width: 100%;
		}

		&--empty {
			@media (max-width: 991px) {
				display: none;
			}

			@media (max-width: 767px) {
				display: block;
			}

			@media (max-width: 575px) {
				display: none;
			}
		}
	}
	input,
	select,
	textarea {
		font-family: "MyriadPro";
		font-size: rem(15);
		font-weight: normal;
		font-style: normal;
		width: 100%;
		height: rem(40);
		cursor: pointer;
		color: #333333;
		border: none;
		border-bottom: rem(4) solid #f1f1f1;
		outline: none;
		background: none;

		&::placeholder {
			font-family: "MyriadPro";
			font-size: rem(15);
			opacity: 1;
			color: #333333;
		}

		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
	}

	.select2-container--default .select2-selection--single {
		font-family: "MyriadPro";
		font-size: rem(15);
		font-weight: normal;
		font-style: normal;
		width: 100%;
		height: rem(40);
		cursor: pointer;
		color: #333333;
		border: none;
		border-bottom: rem(4) solid #f1f1f1;
		border-radius: 0;
		outline: none;
		background: none;
	}

	.select2-container .select2-selection--single .select2-selection__rendered {
		line-height: rem(36);
		padding: 0;
		color: #333333;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top: rem(8);
		right: rem(5);
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border: solid #333333;
		border-width: 0 rem(2) rem(2) 0;
		display: inline-block;
		padding: rem(2);
		transform: rotate(45deg);
		margin-left: rem(-3);
		margin-top: rem(-5);
	}

	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border: solid #333333;
		border-width: 0 rem(2) rem(2) 0;
		display: inline-block;
		padding: rem(2);
		transform: rotate(225deg);
		margin-left: rem(-3);
		margin-top: rem(-3);
	}
	.select2-container .select2-selection--single .select2-selection__rendered {
		padding-right: rem(30);
	}

}


.select2-dropdown {
	border-radius: 0;
}

.select2-container--open .select2-dropdown--below {
	border-top: rem(1) solid #aaaaaa;
}

.site-form-submit-btn {
	font-family: "MyriadPro";
	font-size: rem(18);
	font-weight: normal;
	font-style: normal;
	line-height: rem(21);
	padding: 0;
	cursor: pointer;
	text-decoration: underline;
	text-decoration: none;
	text-transform: uppercase;
	color: #6244bc;
	border: none;
	border-bottom: rem(1) solid #6244bc;
	background: none;
}
