.login-ico {
	display: block;
	width: rem(23);
	height: rem(22);
	background: url("../assets/icons/login.png") no-repeat 50% / contain;
}

.ico-headphones {
	display: block;
	width: rem(52);
	height: rem(54);
	background: url("../assets/icons/headphones.png") no-repeat 50% / contain;
}

.ico-new-document {
	display: block;
	width:rem(43);
	height: rem(48);
	background: url("../assets/icons/new-document.png") no-repeat 50% / contain;
}

.ico-clock {
	display: block;
	width: rem(44);
	height: rem(44);
	background: url("../assets/icons/clock.png") no-repeat 50% / contain;
}

.ico-beaker {
	display: block;
	width: rem(53);
	height: rem(48);
	background: url("../assets/icons/beaker.png") no-repeat 50% / contain;
}

.dashboard-ico {
	display: block;
	width: rem(17);
	height: rem(17);
	background: url("../assets/icons/side-menu-icons/ico-1.png") no-repeat 50% / contain;
}

.accounts-ico {
	display: block;
	width: rem(16);
	height: rem(19);
	background: url("../assets/icons/side-menu-icons/ico-2.png") no-repeat 50% / contain;
}

.suppliers-ico {
	display: block;
	width: rem(19);
	height: rem(19);
	background: url("../assets/icons/side-menu-icons/ico-3.png") no-repeat 50% / contain;
}

.sales-marketing-ico {
	display: block;
	width: rem(23);
	height: rem(18);
	background: url("../assets/icons/side-menu-icons/ico-4.png") no-repeat 50% / contain;
}

.projects-ico {
	display: block;
	width: rem(23);
	height: rem(18);
	background: url("../assets/icons/side-menu-icons/ico-5.png") no-repeat 50% / contain;
}

.tools-ico {
	display: block;
	width: rem(19);
	height: rem(23);
	background: url("../assets/icons/side-menu-icons/ico-6.png") no-repeat 50% / contain;
}

.class-society-ico {
	display: block;
	width: rem(17);
	height: rem(17);
	background: url("../assets/icons/side-menu-icons/ico-7.png") no-repeat 50% / contain;
}

.settings-ico {
	display: block;
	width: rem(23);
	height: rem(24);
	background: url("../assets/icons/side-menu-icons/ico-8.png") no-repeat 50% / contain;
}

.my-profile-ico {
	display: block;
	width: rem(21);
	height: rem(21);
	background: url("../assets/icons/side-menu-icons/ico-9.png") no-repeat 50% / contain;
}