.login-ico {
	display: block;
	width: rem(23);
	height: rem(22);
	background: url("../assets/icons/login.png") no-repeat 50% / contain;
}

.ico-headphones {
	display: block;
	width: rem(52);
	height: rem(54);
	background: url("../assets/icons/headphones.png") no-repeat 50% / contain;;
}

.ico-new-document {
	display: block;
	width:rem(43);
	height: rem(48);
	background: url("../assets/icons/new-document.png") no-repeat 50% / contain;;
}

.ico-clock {
	display: block;
	width: rem(44);
	height: rem(44);
	background: url("../assets/icons/clock.png") no-repeat 50% / contain;;
}

.ico-beaker {
	display: block;
	width: rem(53);
	height: rem(48);
	background: url("../assets/icons/beaker.png") no-repeat 50% / contain;;
}