.login-wrapper {
	background: url("../assets/images/bg-3.jpg") no-repeat 50% / cover;
	min-height: 100vh;
	padding-bottom: rem(25);

	.container {
		height: 100%;
	}
}

.login-pass {
	max-width: rem(680);
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	height: 100%;


	&__content-wrap {
		min-height: calc(100vh - #{rem(180)});
		display: flex;
		flex-flow: column;
		justify-content: center;
	}

	&__head {
		padding: rem(15) 0;
		margin-bottom: rem(10);
		min-height: rem(1);
	}

	&__logo {
		max-width: rem(155);
		margin: 0 auto;
		display: block;
	}

	&__main {
		background: #ffffff;
		padding: rem(35) rem(70);

		@media (max-width: 575px) {
			padding: rem(35); 
		}

	}

	h2 {
		color: #222222;
		font-size: rem(27);
		line-height: rem(23);
		margin-bottom: rem(30);
		text-align: center;
	}

	h5 {
		margin-bottom: rem(35);
		color: rgba(#222222, 0.67);
		font-size: rem(15);
		line-height: rem(23);
		text-align: center;
	}

	.login-form {
		margin-top: rem(60);

		@media (max-width: 575px) {
			margin-top: 0;
		}
	}

	.btn {
		max-width: rem(270);
		width: 100%;
	}

	&__footer {
		margin-top: rem(25);

		p {
			font-size: rem(15);
			line-height: rem(18);
			color: #ffffff;
			text-align: center;

			a {
				text-decoration: underline;
				color: #fff;
			}
		}
	}

	

	&--style {
		max-width: rem(800);

		.login-pass__main {
			box-shadow: 0 0 rem(5) rem(3) rgba(#000, 0.72);
		}
	}

	&--forgot-pass {

		h2 {
			color: #593e8c;
			margin-bottom: rem(15);
			margin-top: rem(30);
		}

		button {
			margin-top: rem(65) !important;
		}

		.login-form {
			margin-top: rem(40) !important;
		}
	}

	&--result {
		max-width: rem(800);

		.login-pass__main {
			min-height: rem(420);
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}
		
		h2 {
			margin: 0;
			color: #593e8c;
			font-size: rem(27);
			line-height: rem(32);
		}
	}

	&--reset-pass {
		max-width: rem(800);

		h2 {
			color: #593e8c;
			font-weight: bold;
			margin-top: rem(30);
		}
	}

	&--result-pass {
		max-width: rem(800);

		.login-pass__main {
			min-height: rem(420);
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}
		
		h2 {
			margin: 0;
			margin-bottom: rem(80);
			color: #593e8c;
			font-size: rem(27);
			line-height: rem(32);
		}

		.btn {
			margin: 0;
		}

	}
}

.login-form {
	max-width: rem(330);
	width: 100%;
	margin: 0 auto;

	label {
		color: #222222;
		font-size: rem(13);
		line-height: rem(28);
		display: block;
	}

	input,
	textarea,
	select {
		border: none;
		background: #f3f3f3;
		height: rem(45);
		border-radius: rem(3);
		display: block;
		width: 100%;
		padding: 0 rem(15);
		outline: none;
		font-family: 'MyriadPro';
		color: #333333;
		font-size: rem(16);
		&::placeholder { 
			font-family: 'MyriadPro';
			color: #333333;
			opacity: 1;
			color: #333333;
		}
	}

	&__link {
		color: rgba(#222222, 0.55);
		font-size: rem(13);
		line-height: rem(28);
		display: block;
		margin-top: rem(10);
		text-decoration: underline;
	}

	.input-wrap {
		margin-bottom: rem(25);
		width: 100%;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

}