.wrapper-inward {
  background: #ffffff;
}

.main-inward {
  &__wrap {
    padding: 0 15px;
    padding-bottom: 15px;
  }

  &__cover {
    display: flex;
    box-shadow: 0 0 10px 3px rgba(#000000, .2);
  }

  &__side {
    background-color: #454545;
    flex-basis: 210px;
  }
  &__content {
    padding: 30px 50px;
    flex-grow: 1;
  }

  &__content-section {
    margin-bottom: 50px;

    &--shadow {
      box-shadow: 0 0 10px 5px rgba(#eeeeee, 1);
    }

    &:last-of-type {
      margin-bottom: 0;
    }


  }
  &__side-logo {
    display: block;
    max-width: 116px;
    margin: 20px auto;
  }

  nav {
    margin-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;

    ul {
      li {
        a {
          display: flex;

          align-items: center;
        }
      }
    }

     > ul {
       > li {
        border-bottom: 1px solid #575757;

        &:last-child {
          border-bottom: none;
        }

        &.active,
        &:hover {
           > a {
            text-decoration: none;
            background-color: #644499;

            &:before {
              display: block;
            }
          }
        }
        &.active {
           > ul {
            display: block !important;
          }
        }
         > a {
          font-size: 13px;
          line-height: 16px;
          position: relative;
          height: 60px;
          padding-left: 65px;

          i {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translate(0, -50%);
          }

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            width: 8px;
            height: 100%;
            content: "";
            background-color: #6fc4d2;
          }
        }
        & > ul {
          display: none;
          padding: 10px 25px;
          background: #515151;

           > li {
            border-bottom: 1px solid #575757;

            &:last-child {
              border-bottom: none;
            }

            &:hover,
            &.active {
               > a {
                text-decoration: none;
                color: #6fc4d2;
              }
            }
             > a {
              font-size: 14px;
              line-height: 16px;
              height: 50px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.bdt {
  border-top: 10px solid;
  border-color: #644499;
}



.select-inward {
  .select2-container--default .select2-selection--single {
    height: 70px;
    border: 1px solid #eeeeee;
    border-radius: 0px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 70px;
    color: #543981;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: inline-block;
    margin-top: rem(-5);
    margin-left: rem(-3);
    padding: rem(4);
    transform: rotate(45deg);
    border: solid #333333;
    border-width: 0 rem(2) rem(2) 0;
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    display: inline-block;
    margin-top: rem(0);
    margin-left: rem(-3);
    padding: rem(4);
    transform: rotate(225deg);
    border: solid #333333;
    border-width: 0 rem(2) rem(2) 0;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 22px;
    right: 29px;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 75px;
    padding-left: 50px;
  }
}

