.offset-header {
	padding-top: rem(150);
}

.section-title {
	font-size: rem(31);
	line-height: rem(37);
	text-align: center;
	padding-top: rem(60);
	margin-bottom: rem(60);

	@media (max-width: 767px) {
		padding-top: rem(30);
		margin-bottom: rem(30);
	}

	&--purple {
		color: #593b8a;
	}
}

.img-wrap-relative {
	position: relative;
	padding-top: 100%;
	overflow: hidden;
}


.img-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
}

.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
	bottom: rem(30);
}

.swiper-container {
	padding-bottom: rem(90);
}

.swiper-pagination-bullet {
	width: rem(6);
	height: rem(6);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 rem(8);
}

.swiper-pagination-bullet {
	background-color: #cac0d9;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #593a8a;
}

.select2-search--dropdown {
	display: none;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 rem(35);
	width: auto;
	height: rem(48);
	border-radius: rem(5);
	background-color: #6fc4d2;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-size: rem(15);
	box-shadow: 0 0 rem(14) 0 rgba(#000, 0.05);
	font-weight: bold;
	letter-spacing: 0.8px;

	&:hover {
		text-decoration: none;
		color: #fff;
		box-shadow: 0 0 rem(20) 0 rgba(#000, 0.1);
	}
}

.btn-green {
	background-color: #029372;
}

.btn-olive {
	background-color: #b3a55f;
}

.btn-white {
	background-color: #fff;
	color: #6fc4d2
}

.btn-cyan {
	background-color: #027a93;
}

.btn-orange {
	background-color: #fc9a2f;
	color: #fff;
	border: 1px solid #fc9a2f;

	&.btn-white {
		background-color: #fff;
		color: #fc9a2f;
	}
}

.btn-small {
	height: 33px;
	padding: 0 20px;
	min-width: 120px;
	font-size: 12px;
	border-radius: 3px;
	font-weight: normal;
}


.btn-dark {
	background: #454545;
}
