.wrapper-inward {
  background: #ffffff;
}

.main-inward {
  &__wrap {
    padding: 0 rem(15);
    padding-bottom: rem(15);

    @media (max-width: 991px) {
      padding: 0;
    }
  }

  &__cover {
    display: flex;
    box-shadow: 0 0 rem(10) rem(3) rgba(#000000, .2);
    position: relative;
    min-height: 700px;
  }

  &__side {
    background-color: #454545;
    width: rem(0);
    transition: all .3s;
    overflow: hidden;
    flex-shrink: 0;

    @media (max-width: 991.98px) {
      width: rem(210);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      height: 100%;
    }

    &.show {
      width: rem(210);

      @media (max-width: 991.98px) {
        width: 0;
      }
    }
  }
  

  &__content {
    flex-grow: 1;
    overflow: auto;
    padding-bottom: rem(40);
    // width: calc(100% - 210px);
    position: relative;

    @media screen and (min-width:0\0) {  
      width: calc(100% - 210px);
    }

    &.blackout {
      position: relative;

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(#000, 0.63);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    
  }

  &__content-section {
    margin: rem(40) 0;

    &.mb-50 {
      margin-bottom: rem(50);

      @media (max-width: 991px) {
        margin-bottom: rem(30);
      } 
    }

    @media (max-width: 991px) {
      margin: rem(15) 0;
    } 

    h3 {
      font-size: rem(22);
      line-height: rem(26);
      font-weight: bold;
      margin-bottom: rem(20);
    }

    &--shadow {
      box-shadow: 0 0 rem(10) rem(5) rgba(#eeeeee, 1);
    }

    &:last-of-type {
      margin-bottom: 0;
    }


  }

  &__content-section-split {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px -20px;


    .main-inward__content-section {
      width: 50%;
      margin: 0 20px;
      height: 300px;
      background-color: #000;
    }
  }

  &__content-container {
    padding: 0 rem(50);

    @media (max-width: 991px) {
      padding: 0 rem(15);
    } 
  }
  &__side-logo {
    display: block;
    width: rem(116);
    margin: rem(20) auto;
  }
}

.shadow-block {
  padding: rem(30);
  box-shadow: 0 0 rem(10) rem(5) rgba(#eeeeee, 1);

  @media (max-width: 991px) {
    padding: rem(15);
  }

}

.side-menu-inward {
  width: rem(210);
}

.bdt {
  border-top: rem(10) solid;
  border-color: #644499;

  &--color-1 {
  border-color: #6fc4d2;
    
  }
}



.select-inward {

  .select2-container {
    width: 100%;
  }
  .select2-container--default .select2-selection--single {
    height: rem(70);
    border: rem(1) solid #eeeeee;
    border-radius: rem(0);
    margin: 0;

    @media (max-width: 1199px) {
      height: rem(50);
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: rem(70);
    color: #543981;

    @media (max-width: 1199px) {
      line-height: rem(50);
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    padding: rem(4);
    border: solid #333333;
    border-width: 0 rem(2) rem(2) 0;
    transform: translate(-50%, -70%) rotate(45deg);
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    display: inline-block;
    margin-top: rem(0);
    margin-left: rem(-3);
    padding: rem(4);
    transform: translate(-20%, -30%) rotate(225deg);
    border: solid #333333;
    border-width: 0 rem(2) rem(2) 0;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
    right: rem(29);

    @media (max-width: 1199px) {
      right: rem(10);
    }
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: rem(75);
    padding-left: rem(50);

    @media (max-width: 1199px) {
      padding-right: rem(35);
      padding-left: rem(15);
    }
  }
}

.dropdown-inward {
  border-radius: rem(3);
  background-color: #eeeeee;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 rem(10) 0 rgba(#eeeeee, 1);
  min-width: 120px;
 

  &:hover {
    ul {
      display: block;
    }
  }

  &__btn {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
  }

  &__btn-title {
    height: rem(30);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding: 0 rem(18);
    color: #666666;
    font-size: rem(12);
    
  }

  &__btn-caret {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: rem(30);
    width: rem(30);
    border-left: rem(1) solid #cdcdcd;

    i {
      font-size: rem(13);
      color: #666666;
    }
  }

  ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eeeeee;
    width: 100%;
    z-index: 5;

    li {
      border-top: rem(1) solid #cdcdcd;

      a {
        display: block;
        line-height: rem(30);
        padding: 0 rem(18);
        color: #666666;
        font-size: rem(12);
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {

        }
      }
    }
  }

  &--white {
    .dropdown-inward {
      &__btn {
        background-color: #fff;
      }
    }

    ul {
      background-color: #fff;
    }
  }

  &--purple {
    color: #fff;
    
    .dropdown-inward {

      &__btn {
        background-color: #5a3d8a;
      }

      &__btn-title {
        color: #fff;
      }

      &__btn-caret {
        color: #fff;
        i {
          color: #fff;
        }
      }
    }

    ul {
      background-color: #5a3d8a;
      li {
        a {
          color: #fff;
        }
      }

    }
  }
}

.select-head-inward {
  .select2-container--default .select2-selection--single {
    border: none;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #666;
    font-size: rem(13);
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #666 transparent transparent transparent;
  }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #666 transparent;
  }
}

.input-wrap-checkbox {

  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: rem(25);
    font-size: rem(16);
    line-height: 1.3;
    color: #414042;
  }

  label:before {
    content: "";
    display: inline-block;
    width: rem(14);
    height: rem(14);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fff;
    border: rem(1) solid #dedede;
    
  }

  label:after {
    content: "";
    display: none;
    width: rem(10);
    height: rem(10);
    position: absolute;
    left: rem(3);
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fff;
    border-radius: 50%;
    
  }

  input[type=radio],
  input[type=checkbox] {
    display: none;
  }

  input[type=radio]:checked + label:after {
    display: block;
    background-color: #dedede;
  }

  input[type=checkbox]:checked + label:after {
    border-radius: 0;
    background-color: #dedede;
    display: block;
  }

}

.radio {
  label:before {
    border-radius:  50%;
    
  }
}

.green-style {
  .bdt {
    border-color: #b3a55f;
  }
  .main-inward nav > ul > li > a:before {
    background-color: #b3a55f;
  }
  .main-inward nav > ul > li.active > a, .main-inward nav > ul > li:hover > a {
    background-color: #027a93;
  }

  .main-inward__content-section h3 {
    color: #027a93;
  }

  .main-inward nav > ul > li > ul > li:hover > a, .main-inward nav > ul > li > ul > li.active > a {
    color: #b3a55f;
  }
  
}

.tariff-table-wrap {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  box-shadow: 0 0 rem(5) rem(3) rgba(#000, 0.3);
}

.main-inward {
  .tariff-table { 
    border: none;
    width: 100%;
  }

  td, th {
    border-right-color: #efefef !important;
  }
}

.subscription-advertising {
  background-color: #b3a55f;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
  width: 100%;

  @media (max-width: 575.98px) {
    flex-flow: column;  
    padding: 30px 15px;
  }

  h4 {
    color: #454545;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    font-weight: bold;

    @media (max-width: 575.98px) {
      padding: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .btn {
    margin: 0;
  }
}

.right-popup {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  min-height: 100%;
  background-color: #fff;
  z-index: 5;
  border-left: 15px solid #beb277;
  box-shadow: 0 0 8px 0 rgba(#000, 0.8);

  @media (max-width: 1200px) {
    width: 80%;
  }

  @media (max-width: 991.98px) {
    width: 100%;  
  }


  &__container {
    padding: 0 20px;
  }

}

.system-components {
  &__head {
    padding: 15px 0;
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media screen and (min-width:0\0) and  (max-width: 767.98px) {  
      flex-flow: column;
      align-items: flex-start;
    }

    @media (max-width: 575.98px) {
      flex-flow: column;
      align-items: flex-start;
    } 

    h3 {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #333333;
      margin-right: 15px;
      max-width: 100%;

      @media (max-width: 575.98px) {
        text-align: center;
      }

      span {
        color: #b88232;
      }
    }

    p {
      color: #333333;
      font-size: 13px;
      line-height: 18px;
      max-width: 100%;

      @media (max-width: 575.98px) {
        text-align: center;
      }
    }
  }

  &__head-col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width:0\0) {  
      max-width: 50%;
    }

    @media screen and (min-width:0\0) and (max-width: 767.98px) {  
      max-width: 100%;
    }


    @media (max-width: 767.98px) {
      flex-flow: column;
      align-items: flex-start;
      width: 100%;
      padding: 5px 0;
    }

    

    @media (max-width: 575.98px) {
      align-items: center;
      max-width: 100%;
    }

    &:last-child {
      @media (max-width: 767.98px) {
        align-items: flex-end;
      } 
      @media (max-width: 575.98px) {
        align-items: center;
      }
    }
  }
}

.page-control {
  display: flex;
  align-items: center;

  a {
    padding: 5px;
    margin: 0 10px;
    i {
      font-size: 18px;
      color: #242424;
    }
  }
}

.main-inward {

  &__content-row {
    display: flex;
    padding-bottom: 0;

    .main-inward__content-container {
      padding: 0 35px;
    }
  }

  &__content-main {
    width: calc(100% - 330px);
    padding-bottom: 30px;
  } 

  &__content-side {
    width: 330px;
    flex-shrink: 0;
    background-color: #eeeeee;
  }


  
}

