.offset-header {
	padding-top: 150px;
}

.section-title {
	font-size: rem(31);
	line-height: rem(37);
	text-align: center;
	padding-top: rem(60);
	margin-bottom: rem(60);

	@media (max-width: 767px) {
		padding-top: rem(30);
		margin-bottom: rem(30);
	}

	&--purple {
		color: #593b8a;
	}
}

.img-wrap-relative {
	position: relative;
	padding-top: 100%;
	overflow: hidden;
}


.img-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
}

.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
	bottom: rem(30);
}

.swiper-container {
	padding-bottom: rem(90);
}

.swiper-pagination-bullet {
	width: rem(6);
	height: rem(6);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 rem(8);
}

.swiper-pagination-bullet {
	background-color: #cac0d9;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #593a8a;
}
.select2-search--dropdown {
	display: none;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 35px;
	width: auto;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 25px;
	height: 45px;
	border-radius: 5px;
	background-color: #6fc4d2;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	box-shadow: 0 0 14px 0 rgba(#000, 0.05);

	&:hover {
		text-decoration: none;
		color: #fff;
		box-shadow: 0 0 20px 0 rgba(#000, 0.1);
	}
}