@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* 
HTML5 Doctor Reset v1.6.1
http://html5doctor.com/html-5-reset-stylesheet/
CSSresetr
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.login-ico {
  display: inline-block;
  width: 1.4375rem;
  height: 1.375rem;
  background: url("../assets/icons/login.png") no-repeat 50%/contain;
}

.ico-headphones {
  display: inline-block;
  width: 3.25rem;
  height: 3.375rem;
  background: url("../assets/icons/headphones.png") no-repeat 50%/contain;
}

.ico-new-document {
  display: inline-block;
  width: 2.6875rem;
  height: 3rem;
  background: url("../assets/icons/new-document.png") no-repeat 50%/contain;
}

.ico-clock {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  background: url("../assets/icons/clock.png") no-repeat 50%/contain;
}

.ico-beaker {
  display: inline-block;
  width: 3.3125rem;
  height: 3rem;
  background: url("../assets/icons/beaker.png") no-repeat 50%/contain;
}

.dashboard-ico {
  display: inline-block;
  width: 1.0625rem;
  height: 1.0625rem;
  background: url("../assets/icons/side-menu-icons/ico-1.png") no-repeat 50%/contain;
}

.accounts-ico {
  display: inline-block;
  width: 1rem;
  height: 1.1875rem;
  background: url("../assets/icons/side-menu-icons/ico-2.png") no-repeat 50%/contain;
}

.suppliers-ico {
  display: inline-block;
  width: 1.1875rem;
  height: 1.1875rem;
  background: url("../assets/icons/side-menu-icons/ico-3.png") no-repeat 50%/contain;
}

.sales-marketing-ico {
  display: inline-block;
  width: 1.4375rem;
  height: 1.125rem;
  background: url("../assets/icons/side-menu-icons/ico-4.png") no-repeat 50%/contain;
}

.projects-ico {
  display: inline-block;
  width: 1.4375rem;
  height: 1.125rem;
  background: url("../assets/icons/side-menu-icons/ico-5.png") no-repeat 50%/contain;
}

.tools-ico {
  display: inline-block;
  width: 1.1875rem;
  height: 1.4375rem;
  background: url("../assets/icons/side-menu-icons/ico-6.png") no-repeat 50%/contain;
}

.class-society-ico {
  display: inline-block;
  width: 1.0625rem;
  height: 1.0625rem;
  background: url("../assets/icons/side-menu-icons/ico-7.png") no-repeat 50%/contain;
}

.settings-ico {
  display: inline-block;
  width: 1.4375rem;
  height: 1.5rem;
  background: url("../assets/icons/side-menu-icons/ico-8.png") no-repeat 50%/contain;
}

.my-profile-ico {
  display: inline-block;
  width: 1.3125rem;
  height: 1.3125rem;
  background: url("../assets/icons/side-menu-icons/ico-9.png") no-repeat 50%/contain;
}

.double-chevron {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url("../assets/icons/double-chevron.png") no-repeat 50%/contain;
}

.chart-ico {
  display: inline-block;
  width: 4.5rem;
  height: 2.125rem;
  background: url("../assets/icons/chart.png") no-repeat 50%/contain;
}

html {
  font-size: 16px;
}

body {
  font-family: 'MyriadPro';
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  color: #333333;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 85.9375rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
  position: relative;
}

.container--middle {
  max-width: 80.625rem;
}

@media (min-width: 768px) {
  .mob-visible {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .desk-visible {
    display: none !important;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.875rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

@media (max-width: 767px) {
  .header {
    padding: 0.9375rem 0;
  }
}

.header__cover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.header .logo {
  display: block;
  max-width: 10.75rem;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 2.8125rem;
}

@media (max-width: 991px) {
  .header .logo {
    max-width: 8.125rem;
    margin-right: 0.625rem;
  }
}

.header__nav {
  position: relative;
}

@media (max-width: 991px) {
  .header__nav {
    margin: 0 1.25rem;
  }
}

.header__nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .header__nav ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0) 95%);
    padding: 1.5625rem 1.875rem;
    right: -3.125rem;
    z-index: 4;
  }
  .header__nav ul.show {
    display: block;
  }
}

.header__nav ul li {
  margin: 0rem 1.5625rem;
}

@media (max-width: 1199px) {
  .header__nav ul li {
    margin: 0 0.9375rem;
  }
}

@media (max-width: 991px) {
  .header__nav ul li {
    margin: 0;
    text-align: right;
  }
}

.header__nav ul li a {
  color: #fff;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  padding: 1.25rem 0;
}

@media (max-width: 1199px) {
  .header__nav ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .header__nav ul li a {
    display: block;
    text-align: right;
    padding: 0.3125rem 1.25rem;
  }
}

.header__right-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.user-nav {
  width: 4.0625rem;
  height: 2.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.user-nav:hover {
  background-color: #fff;
}

.user-nav:hover .login-ico {
  background: url("../assets/icons/login-purple.png") no-repeat 50%/contain;
}

.user-nav:hover .user-nav__menu {
  display: block;
}

.user-nav__menu {
  position: absolute;
  z-index: 5;
  top: 100%;
  width: 9.375rem;
  right: 0;
  background-color: #fff;
  display: none;
  padding: 0.3125rem 0;
}

.user-nav__menu li a {
  line-height: 2.1875rem;
  width: 100%;
  font-size: 0.9375rem;
  text-align: center;
  display: block;
}

.menu-btn {
  display: none;
  width: 1.875rem;
  height: 1.25rem;
  transition: all .3s ease;
}

@media (max-width: 991px) {
  .menu-btn {
    display: block;
  }
}

.menu-btn.close-menu .line {
  position: relative;
}

.menu-btn.close-menu .line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close-menu .line:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}

.menu-btn.close-menu .line:nth-child(3) {
  transform: rotate(-45deg);
  bottom: calc(50% - 1px);
}

.menu-btn:hover {
  opacity: 0.85;
}

.menu-btn .lines {
  display: block;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.menu-btn .line {
  display: block;
  width: 100%;
  height: 0.125rem;
  background: #fff;
  transition: all .2s ease;
}

.offset-header {
  padding-top: 9.375rem;
}

.section-title {
  font-size: 1.9375rem;
  line-height: 2.3125rem;
  text-align: center;
  padding-top: 3.75rem;
  margin-bottom: 3.75rem;
}

@media (max-width: 767px) {
  .section-title {
    padding-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
}

.section-title--purple {
  color: #593b8a;
}

.img-wrap-relative {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.img-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 1.875rem;
}

.swiper-container {
  padding-bottom: 5.625rem;
}

.swiper-pagination-bullet {
  width: 0.375rem;
  height: 0.375rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet {
  background-color: #cac0d9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #593a8a;
}

.select2-search--dropdown {
  display: none;
}

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0 2.1875rem;
  width: auto;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 1.5625rem;
  height: 2.8125rem;
  border-radius: 0.3125rem;
  background-color: #6fc4d2;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9375rem;
  box-shadow: 0 0 0.875rem 0 rgba(0, 0, 0, 0.05);
}

.btn:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
}

.footer {
  margin-top: 2.5rem;
  padding: 1.375rem 0;
  background-color: #333333;
}

.home-hero {
  display: -ms-flexbox;
  display: flex;
  padding-top: 23.75rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%), url("../assets/images/img-1.jpg") no-repeat 50%/cover;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

@media (max-width: 991px) {
  .home-hero {
    padding-top: 9.375rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 60%), url("../assets/images/img-1.jpg") no-repeat 50%/cover;
  }
}

@media (max-width: 767px) {
  .home-hero {
    padding-top: 6.25rem;
  }
}

.home-hero__title {
  text-align: left;
  color: #ffffff;
  color: #fefeff;
}

@media (max-width: 767px) {
  .home-hero__title {
    text-align: center;
  }
}

.home-hero__conferences-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 991px) {
  .home-hero__conferences-cards {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .home-hero__conferences-cards {
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
  }
}

.home-hero .conferences-card {
  margin-bottom: 3.125rem;
}

.conferences-card {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .conferences-card {
    width: 100%;
    max-width: 50%;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media (max-width: 767px) {
  .conferences-card {
    max-width: 100%;
  }
}

.conferences-card__img-wrap {
  width: 5.75rem;
  height: 5.75rem;
  padding: 0.3125rem;
  border-radius: 50%;
  background: url("../assets/icons/border-gradient.png") no-repeat 50%/cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.conferences-card__img-wrap img {
  border-radius: 50%;
}

.conferences-card__content {
  padding-top: 0.9375rem;
  padding-left: 1.125rem;
  color: #ffffff;
  padding-right: 3.125rem;
}

@media (max-width: 575px) {
  .conferences-card__content {
    padding-right: 0.625rem;
  }
}

.conferences-card__content span {
  display: block;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  margin-bottom: 0.3125rem;
  text-transform: uppercase;
}

.conferences-card__content p {
  font-size: 1.25rem;
  line-height: 1.375rem;
}

.integrated-solutions {
  position: relative;
  padding: 1.875rem 0;
}

@media (max-width: 767px) {
  .integrated-solutions {
    padding-bottom: 0;
  }
}

.integrated-solutions .container:after {
  position: absolute;
  top: 1.25rem;
  left: -12.5rem;
  display: block;
  width: 33.625rem;
  height: 24.75rem;
  content: "";
  pointer-events: none;
  background: url("../assets/images/bg-1.png") no-repeat 50%/contain;
}

@media (max-width: 575px) {
  .integrated-solutions .container:after {
    top: 50%;
    left: 50%;
    width: 18.75rem;
    height: 12.5rem;
    transform: translate(-50%, -50%);
  }
}

.integrated-solutions__items {
  position: relative;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 991px) {
  .integrated-solutions__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.integrated-solution {
  margin-bottom: 3.125rem;
}

@media (max-width: 767px) {
  .integrated-solution {
    width: 50%;
  }
}

.integrated-solution__ico-wrap {
  display: -ms-flexbox;
  display: flex;
  width: 8.75rem;
  height: 8.75rem;
  margin: 0 1.5625rem;
  margin-bottom: 1.25rem;
  border-radius: 50%;
  background: linear-gradient(-77deg, #7c77fd, #593a8a);
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

@media (max-width: 991px) {
  .integrated-solution__ico-wrap {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 991px) {
  .integrated-solution__ico-wrap i {
    width: 40%;
    height: 40%;
  }
}

.integrated-solution p {
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  color: #333333;
}

@media (max-width: 575px) {
  .integrated-solution p {
    font-size: 0.875rem;
    line-height: 1.22222;
  }
}

.latest-news-card {
  position: relative;
  display: block;
  max-width: 21.25rem;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .latest-news-card {
    max-width: 240px;
  }
}

.latest-news-card:hover {
  text-decoration: none;
}

.latest-news-card:after {
  position: absolute;
  bottom: 0.125rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  content: "";
  background: linear-gradient(to right, #593a8a, #7c77fd);
}

.latest-news-card__img-wrap {
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 1.5625rem 0 1.5625rem 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 991px) {
  .latest-news-card__img-wrap {
    padding-top: 80%;
  }
}

.latest-news-card__content {
  padding: 0.9375rem;
}

.latest-news-card__content span {
  display: block;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  margin-bottom: 0.625rem;
  color: #59398a;
}

.latest-news-card__content h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.625rem;
  color: #444444;
}

.latest-news-card__content p {
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  overflow: hidden;
  height: 2.125rem;
  margin-bottom: 0.625rem;
  text-overflow: ellipsis;
}

.work-with {
  padding-top: 4.375rem;
}

.work-with__cover {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .work-with__cover {
    -ms-flex-flow: column;
        flex-flow: column;
  }
}

.work-with__col {
  width: 50%;
}

@media (max-width: 767px) {
  .work-with__col {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .work-with .section-title {
    margin-bottom: 1.875rem;
    padding-top: 1.875rem;
  }
}

.who-we {
  padding: 1.875rem 4.6875rem;
  color: #ffffff;
  background: url("../assets/images/bg-2.png") no-repeat 93% 1.875rem/12.8125rem, #6244bc;
}

@media (max-width: 767px) {
  .who-we {
    padding: 1.875rem;
  }
}

.who-we p {
  font-size: 0.9375rem;
  line-height: 1.8125rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.we-work {
  padding: 1.875rem 4.6875rem;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .we-work {
    padding: 1.875rem 0;
  }
}

.we-work .section-title {
  color: #593b8a;
}

.we-work-slider {
  padding-bottom: 8.75rem;
}

@media (max-width: 767px) {
  .we-work-slider {
    padding-bottom: 5rem;
  }
}

.we-work-slider .swiper-slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.we-work-slider.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.09375rem;
}

.we-work-slider .swiper-wrapper {
  -ms-flex-align: center;
      align-items: center;
}

.img-8 {
  width: 11.125rem;
}

.img-9 {
  width: 5rem;
}

.img-10 {
  width: 6.875rem;
}

.get-touch {
  position: relative;
  margin-top: 4.375rem;
}

@media (max-width: 767px) {
  .get-touch {
    margin-top: 0;
  }
}

.get-touch .container {
  z-index: 2;
}

.get-touch__cover {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .get-touch__cover {
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
}

.get-touch__col {
  width: 50%;
}

@media (max-width: 767px) {
  .get-touch__col {
    width: 100%;
  }
}

.get-touch__contacts-col {
  padding-top: 7.1875rem;
  padding-right: 3.125rem;
  padding-bottom: 5.625rem;
  color: #ffffff;
}

@media (max-width: 767px) {
  .get-touch__contacts-col {
    padding-top: 5.625rem;
    padding-right: 0;
  }
}

.get-touch .contacts-col-bg {
  right: 50%;
  width: 50%;
  height: 100%;
}

@media (max-width: 767px) {
  .get-touch .contacts-col-bg {
    right: 0;
    width: 100%;
    height: 80%;
  }
}

.get-touch .contacts-col-bg.img-wrap-relative {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0;
}

@media (max-width: 767px) {
  .get-touch .contacts-col-bg.img-wrap-relative {
    top: auto;
    bottom: 0;
  }
}

.get-touch .contacts-col-bg:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.6);
}

.get-touch .socials li {
  margin-right: 0.3125rem;
}

.get-touch .socials li a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

.get-touch .socials li a:hover {
  color: #593b8a;
  background-color: #fff;
  text-decoration: none;
}

.get-touch__feedback-col {
  padding-left: 2.8125rem;
}

@media (max-width: 767px) {
  .get-touch__feedback-col {
    padding-left: 0;
  }
}

.get-touch__feedback-col .section-title {
  margin-bottom: 1.875rem;
  padding-top: 1.25rem;
  text-align: left;
}

@media (max-width: 767px) {
  .get-touch__feedback-col .section-title {
    text-align: center;
    color: #444444;
  }
}

.get-touch .feedback-form-wrap {
  margin-left: -4.6875rem;
  padding-right: 4.6875rem;
  padding-left: 4.6875rem;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .get-touch .feedback-form-wrap {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .get-touch .feedback-form-wrap {
    padding: 1.875rem;
    padding-bottom: 3.125rem;
  }
}

.contacts {
  margin-bottom: 2.5rem;
  padding-top: 1.25rem;
}

.contacts h4 {
  font-size: 1.4375rem;
  line-height: 1.6875rem;
  margin-bottom: 1.25rem;
}

.contacts ul li {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.9375rem;
  padding-left: 3.125rem;
  color: #ffffff;
}

.contacts ul li:last-child {
  margin-bottom: 0;
}

.contacts ul li a {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  display: inline-block;
  max-width: 100%;
}

.contacts ul li i {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  position: absolute;
  top: 0rem;
  left: 0;
}

.socials {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.625rem;
}

.socials li a {
  font-size: 1.125rem;
  padding: 0.3125rem 0.625rem;
}

.feedback-form-wrap {
  padding: 2.8125rem 1.875rem;
}

.site-form {
  max-width: 35rem;
}

.site-form__cover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.site-form .input-wrap {
  width: 100%;
  max-width: 44%;
  margin-bottom: 2.8125rem;
}

@media (max-width: 991px) {
  .site-form .input-wrap {
    max-width: 100%;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 767px) {
  .site-form .input-wrap {
    max-width: 46%;
  }
}

@media (max-width: 575px) {
  .site-form .input-wrap {
    max-width: 100%;
  }
}

.site-form .input-wrap:last-child {
  max-width: 100%;
}

@media (max-width: 991px) {
  .site-form .input-wrap--empty {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-form .input-wrap--empty {
    display: block;
  }
}

@media (max-width: 575px) {
  .site-form .input-wrap--empty {
    display: none;
  }
}

.site-form input,
.site-form select,
.site-form textarea {
  font-family: "MyriadPro";
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  color: #333333;
  border: none;
  border-bottom: 0.25rem solid #f1f1f1;
  outline: none;
  background: none;
}

.site-form input:-ms-input-placeholder, .site-form select:-ms-input-placeholder, .site-form textarea:-ms-input-placeholder {
  font-family: "MyriadPro";
  font-size: 0.9375rem;
  opacity: 1;
  color: #333333;
}

.site-form input::placeholder,
.site-form select::placeholder,
.site-form textarea::placeholder {
  font-family: "MyriadPro";
  font-size: 0.9375rem;
  opacity: 1;
  color: #333333;
}

.site-form input:focus:-ms-input-placeholder, .site-form select:focus:-ms-input-placeholder, .site-form textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.site-form input:focus::placeholder,
.site-form select:focus::placeholder,
.site-form textarea:focus::placeholder {
  opacity: 0;
}

.site-form .select2-container--default .select2-selection--single {
  font-family: "MyriadPro";
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  color: #333333;
  border: none;
  border-bottom: 0.25rem solid #f1f1f1;
  border-radius: 0;
  outline: none;
  background: none;
}

.site-form .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 2.25rem;
  padding: 0;
  color: #333333;
}

.site-form .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0.5rem;
  right: 0.3125rem;
}

.site-form .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: solid #333333;
  border-width: 0 0.125rem 0.125rem 0;
  display: inline-block;
  padding: 0.125rem;
  transform: rotate(45deg);
  margin-left: -0.1875rem;
  margin-top: -0.3125rem;
}

.site-form .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: solid #333333;
  border-width: 0 0.125rem 0.125rem 0;
  display: inline-block;
  padding: 0.125rem;
  transform: rotate(225deg);
  margin-left: -0.1875rem;
  margin-top: -0.1875rem;
}

.site-form .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 1.875rem;
}

.select2-dropdown {
  border-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: 0.0625rem solid #aaaaaa;
}

.site-form-submit-btn {
  font-family: "MyriadPro";
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3125rem;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  text-decoration: none;
  text-transform: uppercase;
  color: #6244bc;
  border: none;
  border-bottom: 0.0625rem solid #6244bc;
  background: none;
}

.site-form-submit-btn:hover {
  text-shadow: 0 3px 10px #6244bc;
}

.login-wrapper {
  background: url("../assets/images/bg-3.jpg") no-repeat 50%/cover;
  min-height: 100vh;
  padding-bottom: 1.5625rem;
}

.login-wrapper .container {
  height: 100%;
}

.login-pass {
  max-width: 42.5rem;
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  height: 100%;
}

.login-pass__content-wrap {
  min-height: calc(100vh - 11.25rem);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.login-pass__head {
  padding: 0.9375rem 0;
  margin-bottom: 0.625rem;
  min-height: 0.0625rem;
}

.login-pass__logo {
  max-width: 9.6875rem;
  margin: 0 auto;
  display: block;
}

.login-pass__main {
  background: #ffffff;
  padding: 2.1875rem 4.375rem;
}

@media (max-width: 575px) {
  .login-pass__main {
    padding: 2.1875rem;
  }
}

.login-pass h2 {
  color: #222222;
  font-size: 1.6875rem;
  line-height: 1.4375rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

.login-pass h5 {
  margin-bottom: 2.1875rem;
  color: rgba(34, 34, 34, 0.67);
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  text-align: center;
}

.login-pass .login-form {
  margin-top: 3.75rem;
}

@media (max-width: 575px) {
  .login-pass .login-form {
    margin-top: 0;
  }
}

.login-pass .btn {
  max-width: 16.875rem;
  width: 100%;
}

.login-pass__footer {
  margin-top: 1.5625rem;
}

.login-pass__footer p {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #ffffff;
  text-align: center;
}

.login-pass__footer p a {
  text-decoration: underline;
  color: #fff;
}

.login-pass--style {
  max-width: 50rem;
}

.login-pass--style .login-pass__main {
  box-shadow: 0 0 0.3125rem 0.1875rem rgba(0, 0, 0, 0.72);
}

.login-pass--forgot-pass h2 {
  color: #593e8c;
  margin-bottom: 0.9375rem;
  margin-top: 1.875rem;
}

.login-pass--forgot-pass button {
  margin-top: 4.0625rem !important;
}

.login-pass--forgot-pass .login-form {
  margin-top: 2.5rem !important;
}

.login-pass--result {
  max-width: 50rem;
}

.login-pass--result .login-pass__main {
  min-height: 26.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.login-pass--result h2 {
  margin: 0;
  color: #593e8c;
  font-size: 1.6875rem;
  line-height: 2rem;
}

.login-pass--reset-pass {
  max-width: 50rem;
}

.login-pass--reset-pass h2 {
  color: #593e8c;
  font-weight: bold;
  margin-top: 1.875rem;
}

.login-pass--result-pass {
  max-width: 50rem;
}

.login-pass--result-pass .login-pass__main {
  min-height: 26.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.login-pass--result-pass h2 {
  margin: 0;
  margin-bottom: 5rem;
  color: #593e8c;
  font-size: 1.6875rem;
  line-height: 2rem;
}

.login-pass--result-pass .btn {
  margin: 0;
}

.login-form {
  max-width: 20.625rem;
  width: 100%;
  margin: 0 auto;
}

.login-form label {
  color: #222222;
  font-size: 0.8125rem;
  line-height: 1.75rem;
  display: block;
}

.login-form input,
.login-form textarea,
.login-form select {
  border: none;
  background: #f3f3f3;
  height: 2.8125rem;
  border-radius: 0.1875rem;
  display: block;
  width: 100%;
  padding: 0 0.9375rem;
  outline: none;
  font-family: 'MyriadPro';
  color: #333333;
  font-size: 1rem;
}

.login-form input:-ms-input-placeholder, .login-form textarea:-ms-input-placeholder, .login-form select:-ms-input-placeholder {
  font-family: 'MyriadPro';
  color: #333333;
  opacity: 1;
  color: #333333;
}

.login-form input::placeholder,
.login-form textarea::placeholder,
.login-form select::placeholder {
  font-family: 'MyriadPro';
  color: #333333;
  opacity: 1;
  color: #333333;
}

.login-form__link {
  color: rgba(34, 34, 34, 0.55);
  font-size: 0.8125rem;
  line-height: 1.75rem;
  display: block;
  margin-top: 0.625rem;
  text-decoration: underline;
}

.login-form .input-wrap {
  margin-bottom: 1.5625rem;
  width: 100%;
}

.login-form .input-wrap:last-of-type {
  margin-bottom: 0;
}

.header-inward {
  padding: 0 0.9375rem;
  height: 3.125rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.header-inward__col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.header-inward__page-title {
  padding: 0 1.5625rem;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #454545;
  font-weight: 500;
}

.btn-menu-inward {
  font-size: 1.125rem;
  color: #454545;
}

.notifications {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.notification {
  font-size: 1.25rem;
  color: #454545;
  margin-left: 2.1875rem;
  position: relative;
  padding-top: 0.6875rem;
  padding-right: 0.6875rem;
  display: block;
}

.notification__num {
  padding: 0.25rem 0.375rem;
  background-color: #999999;
  border-radius: 0.1875rem;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper-inward {
  background: #ffffff;
}

.main-inward__wrap {
  padding: 0 0.9375rem;
  padding-bottom: 0.9375rem;
}

@media (max-width: 991px) {
  .main-inward__wrap {
    padding: 0;
  }
}

.main-inward__cover {
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 0 0.625rem 0.1875rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.main-inward__side {
  background-color: #454545;
  width: 0rem;
  transition: all .3s;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 991.98px) {
  .main-inward__side {
    width: 13.125rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
  }
}

.main-inward__side.show {
  width: 13.125rem;
}

@media (max-width: 991.98px) {
  .main-inward__side.show {
    width: 0;
  }
}

.main-inward__content {
  -ms-flex-positive: 1;
      flex-grow: 1;
  overflow: auto;
  padding-bottom: 0.9375rem;
}

.main-inward__content.pd-30-50 {
  padding: 1.875rem 3.125rem;
}

@media (max-width: 991px) {
  .main-inward__content.pd-30-50 {
    padding: 1.875rem;
  }
}

@media (max-width: 767px) {
  .main-inward__content.pd-30-50 {
    padding: 1.875rem 0.9375rem;
  }
}

.main-inward__content-section {
  margin-bottom: 1.875rem;
}

.main-inward__content-section.mb-50 {
  margin-bottom: 3.125rem;
}

.main-inward__content-section.pd-0-50 {
  padding: 0rem 3.125rem;
}

@media (max-width: 991px) {
  .main-inward__content-section.pd-0-50 {
    padding: 0 0.9375rem;
  }
}

.main-inward__content-section h3 {
  font-size: 1.375rem;
  line-height: 1.625rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.main-inward__content-section--shadow {
  box-shadow: 0 0 0.625rem 0.3125rem #eeeeee;
}

.main-inward__content-section:last-of-type {
  margin-bottom: 0;
}

.main-inward__side-logo {
  display: block;
  width: 7.25rem;
  margin: 1.25rem auto;
}

.main-inward nav {
  margin-top: 1.875rem;
  padding-bottom: 1.875rem;
  color: #ffffff;
}

.main-inward nav ul li a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.main-inward nav > ul > li {
  border-bottom: 0.0625rem solid #575757;
}

.main-inward nav > ul > li:last-child {
  border-bottom: none;
}

.main-inward nav > ul > li.active > a, .main-inward nav > ul > li:hover > a {
  text-decoration: none;
  background-color: #644499;
}

.main-inward nav > ul > li.active > a:before, .main-inward nav > ul > li:hover > a:before {
  display: block;
}

.main-inward nav > ul > li.active > ul {
  display: block !important;
}

.main-inward nav > ul > li > a {
  font-size: 0.8125rem;
  line-height: 1rem;
  position: relative;
  height: 3.75rem;
  padding-left: 4.0625rem;
}

.main-inward nav > ul > li > a i {
  position: absolute;
  top: 50%;
  left: 1.875rem;
  transform: translate(0, -50%);
}

.main-inward nav > ul > li > a:before {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 0.5rem;
  height: 100%;
  content: "";
  background-color: #6fc4d2;
}

.main-inward nav > ul > li > ul {
  display: none;
  padding: 0.625rem 1.5625rem;
  background: #515151;
}

.main-inward nav > ul > li > ul > li {
  border-bottom: 0.0625rem solid #575757;
}

.main-inward nav > ul > li > ul > li:last-child {
  border-bottom: none;
}

.main-inward nav > ul > li > ul > li:hover > a, .main-inward nav > ul > li > ul > li.active > a {
  text-decoration: none;
  color: #6fc4d2;
}

.main-inward nav > ul > li > ul > li > a {
  font-size: 0.875rem;
  line-height: 1rem;
  height: 3.125rem;
  color: #ffffff;
}

.side-menu-inward {
  width: 13.125rem;
}

.bdt {
  border-top: 0.625rem solid;
  border-color: #644499;
}

.bdt--color-1 {
  border-color: #6fc4d2;
}

.select-inward .select2-container--default .select2-selection--single {
  height: 4.375rem;
  border: 0.0625rem solid #eeeeee;
  border-radius: 0rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .select-inward .select2-container--default .select2-selection--single {
    height: 3.125rem;
  }
}

.select-inward .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 4.375rem;
  color: #543981;
}

@media (max-width: 1199px) {
  .select-inward .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 3.125rem;
  }
}

.select-inward .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: inline-block;
  margin-top: 0;
  margin-left: 0;
  padding: 0.25rem;
  border: solid #333333;
  border-width: 0 0.125rem 0.125rem 0;
  transform: translate(-50%, -70%) rotate(45deg);
}

.select-inward .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  display: inline-block;
  margin-top: 0rem;
  margin-left: -0.1875rem;
  padding: 0.25rem;
  transform: translate(-20%, -30%) rotate(225deg);
  border: solid #333333;
  border-width: 0 0.125rem 0.125rem 0;
}

.select-inward .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
  right: 1.8125rem;
}

@media (max-width: 1199px) {
  .select-inward .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 0.625rem;
  }
}

.select-inward .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 4.6875rem;
  padding-left: 3.125rem;
}

@media (max-width: 1199px) {
  .select-inward .select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 2.1875rem;
    padding-left: 0.9375rem;
  }
}

.dropdown-inward {
  border-radius: 0.1875rem;
  background-color: #eeeeee;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 0.625rem 0 #eeeeee;
}

.dropdown-inward:hover ul {
  display: block;
}

.dropdown-inward__btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.dropdown-inward__btn-title {
  height: 1.875rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 0 1.125rem;
  color: #666666;
  font-size: 0.75rem;
}

.dropdown-inward__btn-caret {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 1.875rem;
  width: 1.875rem;
  border-left: 0.0625rem solid #cdcdcd;
}

.dropdown-inward__btn-caret i {
  font-size: 0.8125rem;
  color: #666666;
}

.dropdown-inward ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #eeeeee;
  width: 100%;
  z-index: 5;
}

.dropdown-inward ul li {
  border-top: 0.0625rem solid #cdcdcd;
}

.dropdown-inward ul li a {
  display: block;
  line-height: 1.875rem;
  padding: 0 1.125rem;
  color: #666666;
  font-size: 0.75rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-head-inward .select2-container--default .select2-selection--single {
  border: none;
}

.select-head-inward .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #666;
  font-size: 0.8125rem;
}

.select-head-inward .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #666 transparent transparent transparent;
}

.select-head-inward .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #666 transparent;
}

.fiters-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}

.fiters-block .input-wrap {
  width: calc(100% / 3 - 1px);
  margin-bottom: 1.25rem;
}

@media (max-width: 767px) {
  .fiters-block .input-wrap {
    width: 100%;
  }
}

.difference-info-block {
  margin: 0 -0.625rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .difference-info-block {
    margin: 0;
  }
}

.difference-info-block .growth-change {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.difference-info-block .difference-info {
  width: calc(25% - 20px);
  margin: 0 0.625rem;
  margin-bottom: 1.875rem;
}

@media (max-width: 1499px) {
  .difference-info-block .difference-info {
    width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .difference-info-block .difference-info {
    width: 100%;
    margin: 0;
    margin-bottom: 1.875rem;
  }
}

.difference-info {
  height: 12.5rem;
  border: 0.125rem solid #f6f6f6;
  border-top-color: #5d4897;
  padding: 0.9375rem;
  padding-left: 1.5625rem;
}

@media (max-width: 767px) {
  .difference-info {
    height: auto;
    min-height: 9.375rem;
  }
}

.difference-info--up {
  background-color: #f5f5f5;
}

.difference-info--down {
  background-color: #fff;
}

.difference-info--down .double-chevron {
  transform: rotate(180deg);
}

.difference-info__counter {
  margin-top: 1.25rem;
}

@media (max-width: 575px) {
  .difference-info__counter {
    margin-top: 0;
  }
}

.difference-info__counter span {
  font-size: 4.4375rem;
  line-height: 1;
  color: #444444;
  display: block;
}

@media (max-width: 575px) {
  .difference-info__counter span {
    font-size: 3.125rem;
  }
}

.difference-info__counter span + span {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.difference-info__footer {
  margin-top: 0.3125rem;
  height: 1.875rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.difference-info__footer span {
  padding-right: 0.9375rem;
  color: rgba(68, 68, 68, 0.57);
  font-size: 1.0625rem;
  line-height: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.growth-change {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.growth-change i {
  margin-right: 0.3125rem;
}

.growth-change span {
  color: #434343;
  font-size: 0.9375rem;
  line-height: 1.125rem;
}

.projects-charts-wrap {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .projects-charts-wrap {
    margin: 0;
  }
}

.projects-charts-wrap .projects-chart {
  width: calc(50% - 2.5rem);
  margin: 1.25rem;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .projects-charts-wrap .projects-chart {
    width: 100%;
    margin: 0;
    margin-bottom: 1.25rem;
  }
}

.projects-chart__chart-cover {
  border: 0.125rem solid #f5f5f5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 575px) {
  .projects-chart__chart-cover {
    height: auto;
  }
}

.projects-chart__chart {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 50%;
  padding: 0 1.5625rem;
}

@media (max-width: 575px) {
  .projects-chart__chart {
    width: 100%;
  }
}

.projects-chart__chart-info {
  width: 50%;
  padding: 0.625rem 1.5625rem;
}

@media (max-width: 575px) {
  .projects-chart__chart-info {
    width: 100%;
  }
}

.projects-chart__chart-info ul {
  padding-left: 3.125rem;
}

@media (max-width: 1499px) {
  .projects-chart__chart-info ul {
    padding: 0;
  }
}

.projects-chart__chart-info ul li {
  margin: 1.25rem 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.projects-chart__chart-info ul li:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 0.125rem solid;
  margin-right: 1.6875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.projects-chart__chart-info ul li span {
  color: #666666;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.projects-chart__chart-info ul li:nth-child(1):before {
  border-color: #644499;
}

.projects-chart__chart-info ul li:nth-child(2):before {
  border-color: #3dad97;
}

.projects-chart__chart-info ul li:nth-child(3):before {
  border-color: #4483ce;
}

.projects-chart__chart-info ul li:nth-child(4):before {
  border-color: #36489e;
}

.projects-chart__chart-info ul li:nth-child(5):before {
  border-color: #5f6c86;
}

.projects-status-chart-info ul li:nth-child(1):before {
  border-color: #4181c9;
}

.projects-status-chart-info ul li:nth-child(2):before {
  border-color: #6dc3d0;
}

.projects-status-chart-info ul li:nth-child(3):before {
  border-color: #65459a;
}

.service-type-chart-info ul li:nth-child(1):before {
  border-color: #4483ce;
}

.service-type-chart-info ul li:nth-child(2):before {
  border-color: #6b7c8f;
}

.service-type-chart-info ul li:nth-child(3):before {
  border-color: #36489e;
}

.service-type-chart-info ul li:nth-child(4):before {
  border-color: #3dad97;
}

.projects-status-chart-wrap {
  position: relative;
  max-width: 100%;
}

.projects-status-chart-wrap .center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects-status-chart-wrap .center span {
  display: block;
  font-size: 2.5625rem;
  line-height: 3.125rem;
}

.size-round-chart {
  width: 100%;
  height: 16.25rem;
  padding-top: 0.8125rem;
}

.table-inward {
  padding: 1.875rem;
}

.table-inward.pd-0 {
  padding: 0;
}

.table-inward table {
  min-width: 60rem;
}

@media (max-width: 575px) {
  .table-inward {
    padding: 1.875rem 0.9375rem;
  }
}

.table-inward__head {
  padding-bottom: 1.875rem;
  border-bottom: 0.0625rem solid #eeeeee;
  margin-bottom: 1.25rem;
}

.table-inward__head h3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 0;
}

.table-inward__head .head-ico {
  margin-right: 0.9375rem;
}

.table-inward__main {
  margin-top: 1.25rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.table-inward--light .table-inward__head h3 {
  color: #6fc4d2;
}

.table-inward--light .table-inward__head .head-ico {
  background-color: #6fc4d2;
}

.table-inward--light .k-grid td:first-child {
  border-left-color: #6fc4d2 !important;
}

.head-ico {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 1.3125rem;
  color: #fff;
  border-radius: 50%;
  width: 1.375rem;
  height: 1.375rem;
  background-color: #4483ce;
}

.k-block, .k-draghandle, .k-inline-block, .k-widget {
  border: none;
}

.k-filter-row th, .k-grid-header th.k-header {
  border: none;
}

.k-block, .k-content, .k-dropdown .k-input, .k-popup, .k-toolbar, .k-widget {
  color: #666666;
  font-size: 0.8125rem;
}

.k-autocomplete, .k-draghandle, .k-dropdown-wrap, .k-grid-header, .k-grouping-header, .k-header, .k-numeric-wrap, .k-pager-wrap, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap, .k-progressbar, .k-state-highlight, .k-tabstrip-items .k-item, .k-textbox, .k-toolbar {
  background: none;
}

col.k-sorted, th.k-sorted {
  background: none;
}

.k-grid td {
  padding: 0.4375rem 0.9375rem;
  border: none;
  background-color: #eeeeee;
  min-height: 2.3125rem;
  border-bottom: 0.0625rem solid #fff;
  white-space: nowrap;
}

.k-grid td:first-child {
  padding-left: 1.875rem;
  border-left: 0.3125rem solid #4483ce !important;
}

@media (max-width: 575px) {
  .k-grid td:first-child {
    padding-left: 0.9375rem;
  }
}

.k-grid tr:last-child td {
  border-bottom: none;
}

.k-filter-row th, .k-grid-header th.k-header {
  padding: 0.625rem 0.9375rem;
  color: #333333;
  font-weight: bold;
  font-size: 0.8125rem;
}

.k-filter-row th:first-child, .k-grid-header th.k-header:first-child {
  padding-left: 1.875rem;
  border-left: 0.3125rem solid #fff !important;
}

@media (max-width: 575px) {
  .k-filter-row th:first-child, .k-grid-header th.k-header:first-child {
    padding-left: 0.9375rem;
  }
}

.k-icon {
  color: #aaaaaa;
}

.k-sort-order {
  color: #aaaaaa;
}

.k-popup {
  background-color: #fff;
}

.circle-mark {
  position: relative;
  padding-left: 0.9375rem;
  white-space: nowrap;
}

.circle-mark:before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.125rem solid;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 50%;
  line-height: inherit;
}

.circle-mark--cyan {
  color: #4483ce;
}

.circle-mark--cyan:before {
  border-color: #4483ce;
}

.circle-mark--green {
  color: #3dad97;
}

.circle-mark--green:before {
  border-color: #3dad97;
}

.circle-mark--gray {
  color: #6b7c8f;
}

.circle-mark--gray:before {
  border-color: #6b7c8f;
}

.circle-mark--disabled {
  opacity: 0.4;
}

.num-round {
  border-radius: 50%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 0.8125rem;
  line-height: 1;
  color: #fff;
  font-style: normal;
  width: 1.4375rem;
  height: 1.4375rem;
}

.num-round--cyan {
  background-color: #4483ce;
}

.fa-check-square {
  color: #6fc4d2;
  font-size: 1.25rem;
}

#active-user-chart {
  max-width: 43.75rem;
  width: 100%;
  height: 20.3125rem;
  min-width: 31.25rem;
}

@media (max-width: 1499px) {
  .active-user-chart {
    width: 70% !important;
  }
}

@media (max-width: 1199px) {
  .active-user-chart {
    width: 100% !important;
  }
}

.active-user-chart .projects-chart__chart-cover {
  height: auto;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.active-user-chart__legend {
  max-width: 100%;
  z-index: 5;
  padding: 1.5625rem;
  display: -ms-flexbox;
  display: flex;
}

.active-user-chart__legend span {
  color: #666666;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  padding-right: 1.5625rem;
  padding-left: 1.25rem;
}

.active-user-chart__legend span:before {
  top: 0.1875rem;
}

.active-user-chart__legend span:nth-of-type(1):before {
  border-color: #417dc4;
}

.active-user-chart__legend span:nth-of-type(2):before {
  border-color: #644499;
}

.active-user-chart__legend span:nth-of-type(3):before {
  border-color: #3dad97;
}

.active-user-chart__legend span:nth-of-type(4):before {
  border-color: #6fc4d2;
}

.domain, .tick line {
  display: none;
}

#sales-weighted-customer {
  width: 100%;
  height: 25rem;
}

.chart-cover {
  border: 0.125rem solid #f5f5f5;
  padding: 1.25rem;
  overflow-y: hidden;
  overflow-x: auto;
}

#sales-weighted-customer-chart {
  min-width: 50rem;
}

.section-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 0.0625rem solid #efefef;
}

@media (max-width: 575px) {
  .section-head {
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-align: start;
        align-items: flex-start;
  }
}

.section-head.pd-20-50 {
  padding: 1.25rem 3.125rem;
}

@media (max-width: 991px) {
  .section-head.pd-20-50 {
    padding: 1.25rem 0.9375rem;
  }
}

.section-head__col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 575px) {
  .section-head__col {
    padding: 0.625rem 0;
    width: 100%;
  }
}

.section-head__col .input-wrap {
  margin: 0 0.625rem;
}

.section-head__dropdown-cover {
  display: -ms-flexbox;
  display: flex;
}

.search-inward {
  cursor: pointer;
  position: relative;
  margin-left: 1.5625rem;
  background: #fff;
}

.search-inward:hover input {
  width: 15.625rem;
  opacity: 1;
  padding: 0 0.625rem;
  padding-right: 1.875rem;
}

.search-inward form {
  display: block;
}

.search-inward input {
  color: #666666;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background: #fff;
  border: 1px solid #666666;
  box-shadow: none;
  z-index: 1;
  height: 100%;
  opacity: 0;
  transition: all .5s;
}

.search-inward button {
  display: -ms-flexbox;
  display: flex;
  width: 1.5625rem;
  height: 1.5625rem;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: #666666;
  position: absolute;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.search-inward button i {
  font-size: 0.875rem;
}

.table-menu {
  position: relative;
  cursor: pointer;
  margin: -0.3125rem;
}

.table-menu__btn {
  display: block;
  font-size: 0.875rem;
  color: #aaaaaa;
  padding: 0.3125rem;
}

.table-menu ul {
  display: none;
  position: absolute;
  top: 0;
  transform: translate(-100%, -100%);
  background-color: #fff;
  border: 0.0625rem solid #666666;
  width: 11.25rem;
}

.table-menu ul a {
  padding: 0.3125rem 0.9375rem;
  color: #666666;
}

.td-before-gray td:first-child {
  border-left-color: #454545 !important;
}

.table-menu-cover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

/*# sourceMappingURL=styles.css.map */
